/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url('../imagens/banners/banner-beneficios-mate-desktop.png')no-repeat center center;
	    background-size: cover;
		height: 401px;
	}
	#banner .ml-auto{
		margin-right: -10px;
		padding-left: 90px!important;
	}
	#banner h1{
		margin-top: -20px;
		font-size: 43px;
		margin-bottom: 20px;
	}
	#banner p{
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 20px;
	}

/* --- img-flor --- */
	.img-flor{
		position: absolute;
		overflow: hidden;
		margin-top: 450px;
		margin-left: 50px;
	}
	.img-flor img{
		/*position: relative;*/
		/*display: block;*/
		/*margin-left: -60px;*/
	}

/* --- beneficios --- */
	#beneficios{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	#beneficios .container-fluid{
		max-width: 1160px!important; 
	}
	#beneficios .col-lg-5{
		padding-left: 30px!important;
		padding-right: 30px;
	}
	#beneficios img.img-fluid{
	    transform: scale(1.4);
	    position: relative;
	    top: 25px;
	    right: 8px;
	}
	#beneficios h3{
		font-size: 22px;
		padding-right: 8px;
	}
	#beneficios p{
		font-size: 18px;
		line-height: 20px;
		height: 82px;
		overflow: auto;
		padding-right: 8px;
	}
	#beneficios p::-webkit-scrollbar {
	 	width: 5px;
	  	border-radius: 10px;
	}
	#beneficios p::-webkit-scrollbar-track-piece {
	  	background-color: white;
	}
	#beneficios p::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-green);
	}
	#beneficios .meio-1,
	#beneficios .meio-2{
		margin-top: 70px;
	}
	#beneficios .meio-1{
		margin-left: -60px!important;
	}
	#beneficios .meio-2{
		margin-right: -60px!important;
	}
	#beneficios .meio-final{
		margin-top: 50px;	
	}

/* --- img-pacote --- */
	.img-pacote{
		position: absolute;
		right: 0;
		overflow: hidden;
		margin-top: -130px;
	}
	.img-pacote img{
		position: relative;
		display: block;
		margin-right: -210px;
	}

/* --- erva mate --- */
	#erva-mate .descricao{
		max-width: 611px;
		width: 100%;
		background-color: white;
		padding: 40px 60px;
		border-radius: 30px;
		float: left;
		left: -20px;
		top: 50px;
		position: relative;
	}
	#erva-mate .descricao img.img-cha{
		position: relative;
		margin-top: -190px;
		margin-left: -120px;
	}
	#erva-mate .descricao img.img-duvida{
		position: absolute;
		top: -15px;
		right: -40px;
	}
	#erva-mate h2{
		font-size: 43px;
		margin-bottom: 20px;
	}
	#erva-mate p{
		font-size: 18px;
		margin-bottom: 20px;
		height: 220px;
		padding-right: 5px;
		overflow: auto;
	}
	#erva-mate a.btn{
		width: 219px;
		height: 51px;
		font-size: 18px;
		padding-top: 10px;
	}
	#erva-mate .imagem{
		background: url(../imagens/img-erva-mate.png)no-repeat center center;
		background-size: cover;
		max-width: 658px;
		width: 100%;
		height: 574px;
		margin-left: auto;
		margin-top: 50px;
	}

/* --- trajetoria --- */
	#trajetoria{
		padding-top: 100px;
		padding-bottom: 300px;
	}
	#trajetoria .container{
		position: relative;
	}
	#trajetoria .descricao{
		max-width: 611px;
		width: 100%;
		background-color: white;
		padding: 40px 60px 60px;
		border-radius: 30px;
		float: right;
		right: 0px;
		top: 70px;
		position: absolute;
	}

	#trajetoria .desc{
		height: 470px;
		padding-right: 5px;
		overflow: auto;
	}

	#trajetoria h2{
		font-size: 43px;
		margin-bottom: 20px;
	}
	#trajetoria p{
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 40px;
	}
	#trajetoria a.btn{
		width: 219px;
		height: 51px;
		font-size: 18px;
		padding-top: 10px;
	}
	#trajetoria .bolinha{
		width: 79px;
		height: 79px;
		background-color: #1E3219;
		border-radius: 50%;
		position: absolute;
		margin-top: 20px; 
		margin-left: -100px;
	}
	#trajetoria .imagem{
		background: url(../imagens/img-chimarrao.png)no-repeat center center;
		background-size: cover;
		max-width: 658px;
		width: 100%;
		height: 574px;
		margin-left: -20px;
		float: left;
	}

/* --- nossos produtos --- */
	#nossos-produtos{
		background: url(../imagens/bg/bg-nossos-produtos-2.png)no-repeat -180px top;
		background-size: cover;
		height: 1100px;
		margin-top: -555px;
		padding-top: 550px;
	}
	#nossos-produtos{
		padding-left: 25px!important;
		padding-right: 25px!important;
	}
	#nossos-produtos h2{
		font-size: 43px;
		margin-bottom: 70px;
	}
	#nossos-produtos a img.img-fluid{
		border-radius: 50%;
		width: 193px;
		height: 193px;
		object-fit: cover;
		margin-bottom: 28px;
		transition: .3s;
	}
	#nossos-produtos a p{
		font-size: 22px;
	}

	#nossos-produtos a .imagem .wrapper div{
		background: rgba(183, 201, 63, 0.8);
		width: 65%;
		height: 65%;
		transition: .5s;
		border-radius: 50%;
	    
	    position: absolute;
	    top: 12px;
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
		opacity: 0;
	}
	#nossos-produtos a .imagem .thumb-info{
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		width: 100px;
		transition: .5s;
	}
	#nossos-produtos a .imagem .thumb-info img{
		transform: scale(1.5);
	}
	#nossos-produtos a:hover .imagem .wrapper img.img-fluid{
		transition: .3s;
	}
	#nossos-produtos a .imagem .wrapper:hover div,
	#nossos-produtos a .imagem:hover .thumb-info{
		opacity: 1;	
	}

/* --- certificacoes ---*/
	#certificacoes{
		position: relative;
		margin-top: 60px;
		margin-bottom: 40px;
	}
	#certificacoes h2{
		font-size: 43px;
		margin-top: 20px;
	}
	#certificacoes .btn-slick-carousel-left,
	#certificacoes .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: 35%;
		cursor: pointer;
		max-width: 31px;
	}
	#certificacoes .btn-slick-carousel-left{
		left: 102%;
	}
	#certificacoes .btn-slick-carousel-right{
		right: -12%;
	}
	#certificacoes .slide{
		margin-left: 18px;
		margin-right: 18px;
	}
	#certificacoes img.img-fluid{
		height: 92px;
		max-width: initial;
		width: initial;
		display: block;
		margin: auto;
	}

/* --- modal especialista ---*/
	#modal_adquirir .modal-dialog{
		max-width: 802px;
		width: 100%;
	}
	#modal_adquirir .modal-content{
		background-color: transparent;
		border: 0px;
	}
	#modal_adquirir .modal-body{
		padding: 0px!important;
	}
	#modal_adquirir .formulario{
		max-width: 427px;
		width: 100%;
		background-color: white;
		padding: 40px 60px;
		border-radius: 18px;
		float: left;
	}
	#modal_adquirir h2{
		font-size: 33px;
		/*line-height: 30px;*/
		margin-bottom: 25px;
	}
	#modal_adquirir input{
		height: 52px;
		border: 1px solid var(--new-green)!important;
		border-radius: 10px;
		font-size: 12px;
		padding-left: 20px;
		margin-bottom: 15px;
	}
	#modal_adquirir a.btn{
		width: 137px;
		height: 29px;
		font-size: 10px;
		border: 1px solid var(--new-gray);
		background-color: var(--new-gray);
		color: white;
		border-radius: 50px;
	}
	#modal_adquirir a.btn:hover{
		background-color: transparent;
		color: var(--new-gray);
	}
	#modal_adquirir .imagem{
		background: url(../imagens/bg/bg-formulario.png)no-repeat center center;
		background-size: cover;
		max-width: 460px;
		width: 100%;
		height: 459px;
		margin-left: auto;
		margin-top: 50px;
	}

@media screen and (max-width: 1660px) {
	/* --- img-flor --- */
		.img-flor{
			/*margin-top: 450px;*/
			margin-left: 10px;
		}
		.img-flor img{
			margin-left: -60px;
		}

	/* --- img-pacote --- */
		.img-pacote{
			right: 10px;
			/*margin-top: -130px;*/
		}
		.img-pacote img{
			margin-right: -320px;
		}

	/* --- nossos produtos --- */
		#nossos-produtos{
			background: url(../imagens/bg/bg-nossos-produtos-2.png)no-repeat -260px top;
		}
}

@media screen and (max-width: 1440px) {
	/* --- img-flor --- */
		.img-flor{
			margin-left: 5px;
		}
		.img-flor img{
			margin-left: -200px;
		}

	/* --- img-pacote --- */
		.img-pacote{
			right: 5px;
		}
		.img-pacote img{
			margin-right: -490px;
		}

	/* --- nossos produtos --- */
		#nossos-produtos{
			background: url(../imagens/bg/bg-nossos-produtos-2.png)no-repeat -420px top;
			height: 1050px;
		}
}

@media screen and (max-width: 1200px) {
	/* --- banner --- */
		#banner{
			background: url('../imagens/banners/banner-beneficios-mate-desktop.png')no-repeat 42% center;
			height: 401px;
		}
		#banner .ml-auto{
			margin-right: 30px;
		}

	/* --- img-flor --- */
		.img-flor{
			display: none;
		}

	/* --- img-pacote --- */
		.img-pacote{
			display: none;
		}
		
	/* --- beneficios --- */
		#beneficios .col-lg-5{
			padding-left: 0px!important;
			padding-right: 0px;
		}
		#beneficios img.img-fluid{
		    transform: scale(1.7);
		}
		#beneficios h3{
			font-size: 20px;
		}
		#beneficios p{
			font-size: 16px;
		}
		#beneficios .meio-1,
		#beneficios .meio-2{
			margin-top: 70px;
		}
		#beneficios .meio-1{
			margin-left: -0px!important;
		}
		#beneficios .meio-2{
			margin-right: -0px!important;
		}
		#beneficios .meio-final{
			margin-top: 50px;	
		}

	/* --- certificacoes ---*/
		#certificacoes{
			padding-left: 15px;
		}
		#certificacoes h2{
			font-size: 40px;
			/*margin-top: 20px;*/
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: 35%;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 110%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: -25%;
		}
		#certificacoes .slide{
			margin-left: 14px;
			margin-right: 14px;
		}
		#certificacoes img.img-fluid{
			/*height: 92px;*/
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner{
			background: url('../imagens/banners/banner-beneficios-mate-desktop.png')no-repeat 41% center;
			height: 401px;
		}
		#banner .ml-auto{
			margin-right: 20px;
			padding-left: 0!important;
		}
		#banner h1{
			margin-top: 50px;
			font-size: 40px;
			margin-bottom: 20px;
		}
		#banner p{
			font-size: 20px;
		}

	/* --- beneficios --- */
		#beneficios .col-lg-5{
			margin-bottom: 40px;
		}
		#beneficios img.img-fluid{
		    transform: scale(1);
		    top: 80px;
		    right: 0px;
		    left: 0px;
		}
		#beneficios h3{
			font-size: 22px;
		}
		#beneficios p{
			font-size: 18px;
			height: 62px;
		}
		#beneficios .meio-1,
		#beneficios .meio-2{
			margin-top: 0px;
		}
		#beneficios .meio-final{
			margin-top: 0px;	
		}

	/* --- nossos-produtos --- */
		#nossos-produtos .box{
			margin-bottom: 40px;
		}
		#nossos-produtos a .imagem .wrapper div{
			width: 35%;
			height: 70%;
		}

	/* --- nossos produtos --- */
		#nossos-produtos{
			background: initial;
			height: auto;
			margin-top: 0;
			padding-top: 0;
		}
		#nossos-produtos a .imagem .wrapper div{
			width: 50%;
			height: 65%;
		    top: 15px;
		}

	/* --- certificacoes ---*/
		#certificacoes {
		    margin-top: 80px;
		    margin-bottom: 90px;
		}
		#certificacoes h2{
			font-size: 40px;
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: initial;
			bottom: -60px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 80%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}

	/* --- modal especialista ---*/
		#modal_adquirir .modal-dialog{
			padding-left: 20px;
			padding-right: 10px;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner {
			background: url('../imagens/banners/banner-beneficios-mate-mobile.png')no-repeat center center;
			height: 577px;
		}
		#banner .container{
			padding-left: 25px;
			padding-right: 25px;
		}
		#banner .ml-auto{
			margin-right: 0px;
		}
		#banner h1{
			margin-top: 50px;
			font-size: 43px;
			margin-bottom: 30px;
		}
		#banner p{
			font-size: 18px;
			margin-bottom: 30px;
		}

	/* --- beneficios --- */
		#beneficios h3{
			font-size: 22px;
		}
		#beneficios p{
			font-size: 18px;
			height: 82px;
		}

	/* --- erva mate --- */
		#erva-mate .descricao{
			float: none;
			left: 0px;
			top: 100px;
			position: relative;
			padding: 40px 20px;
		}
		#erva-mate .descricao img.img-cha{
			position: relative;
			margin-top: -160px;
			margin-left: 0px;
			transform: scale(1.1);
		}
		#erva-mate .descricao img.img-duvida{
			position: absolute;
			top: 490px;
			right: initial;
			left: 40px;
		}
		#erva-mate h2{
			font-size: 35px;
			margin-bottom: 20px;
		}
		#erva-mate p{
			font-size: 18px;
			margin-bottom: 20px;
		}
		#erva-mate .imagem{
			height: 421px;
			margin-left: auto;
			margin-top: 50px;
		}
	
	/* --- trajetoria --- */
		#trajetoria{
			padding-top: 40px;
			padding-bottom: 70px;
		}
		#trajetoria .container{
			position: relative;
		}
		#trajetoria .descricao{
			padding: 30px 20px 60px;
			float: none;
			right: 0px;
			top: 0px;
			position: relative;
		}
		#trajetoria h2{
			font-size: 35px;
			margin-bottom: 20px;
		}
		#trajetoria .desc {
		    height: 520px;
		}
		#trajetoria p{
			font-size: 18px;
			line-height: 25px;
			margin-bottom: 30px;
		}
		#trajetoria .bolinha{
			display: none;
		}
		#trajetoria .imagem{
			/*height: 574px;*/
			margin-top: -30px;
			margin-left: 0px;
			float: none;
		}

	/* --- nossos produtos --- */
		#nossos-produtos{
			background: initial;
			height: auto;
			margin-top: 0;
			padding-top: 0;
		}
		#nossos-produtos a img.img-fluid{
			margin-bottom: 18px;
		}
		#nossos-produtos a .imagem .wrapper div{
			width: 50%!important;
		    top: 12px;
		}

	/* --- nossos-produtos --- */
		#nossos-produtos{
			margin-top: 0px;
			margin-bottom: 0px;
		}
		#nossos-produtos h2{
			font-size: 43px;
			margin-bottom: 70px;
		}
		#nossos-produtos a .imagem .wrapper div{
			width: 34%;
			height: 70%;
		}

	/* --- certificacoes ---*/
		#certificacoes{
			margin-top: 80px;
			margin-bottom: 100px;
		}
		#certificacoes h2{
			font-size: 30px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 50%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}
		#certificacoes .slide{
			margin-left: initial;
			margin-right: initial;
		}

	/* --- modal especialista ---*/
		#modal_adquirir .modal-dialog{
			padding-left: 5px;
			padding-right: 20px;
		}
		#modal_adquirir .formulario{
			padding: 30px 40px;
			float: none;
		}
		#modal_adquirir h2{
			font-size: 33px;
			line-height: 35px;
		}
		#modal_adquirir .imagem{
			display: none;
		}
}

@media screen and (max-width: 400px) {
	/* --- banner --- */
		#banner .ml-auto{
			margin-right: 0px;
		    padding-left: 5px!important;
		    padding-right: 5px!important;
		}
		#banner h1{
			margin-top: 30px;
			font-size: 40px;
			margin-bottom: 25px;
		}

	/* --- erva-mate --- */
		#erva-mate .descricao img.img-duvida{
			top: 530px;
		}

	/* --- trajetoria --- */
		#trajetoria .desc {
		    height: 610px;
		}

	/* --- nossos-produtos --- */
		#nossos-produtos a .imagem .wrapper div{
			width: 57%!important;
		}
}

@media screen and (max-width: 350px) {
	/* --- trajetoria --- */
		#trajetoria .desc {
		    height: 750px;
		}

	/* --- certificacoes --- */
		#certificacoes h2{
			font-size: 24px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 38%;
		}
		#certificacoes img.img-fluid {
		    height: 80px;
		}
}