/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url('../imagens/banners/banner-blog-desktop.png')no-repeat center center;
	    background-size: cover;
		height: 450px;
	}
	#banner h1{
		margin-top: -70px;
		font-size: 43px;
		margin-bottom: 20px;
	}
	#banner p{
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 20px;
	}

/* --- conteudo --- */
	#conteudo .container{
		margin-top: 10px;
		padding-left: 55px;
	}
	#conteudo #artigos{
		max-width: 707px;
		width: 100%;
	}
	#conteudo .clearfix p{
		font-size: 16px;
	}

	#conteudo .text-right p.bg-green{
		font-size: 13px;
		width: 150px;
		height: 27px;
		border-radius: 20px;
		margin-right: 130px;
		text-align: center;
		padding-top: 4px;
		position: relative;
		top: -15px;
	}
	#conteudo .text-right .bolinha{
		background-color: var(--new-green);
		display: inline-block;
		position: relative;
		top: -40px;
		float: right;
		margin-right: 30px;

		border-radius: 50%;
		width: 80px;
		height: 80px;
		border: 8px solid white;
		margin-bottom: -100px;
	}
	#conteudo .text-right .bolinha p.font-bold{
		text-align: center;
		font-size: 26px;
		margin-bottom: 0;
		line-height: 15px;
		margin-top: 14px;
	}
	#conteudo .text-right .bolinha p.text-uppercase{
		text-align: center;
		font-size: 18px;
		color: white;
	}
	#conteudo .autor{
		margin-top: -20px;
	}
	#conteudo .autor p{
		font-size: 11px;
	}

	#conteudo a h3{
		font-size: 26px;
		margin-bottom: 20px;
	}
	#conteudo a p,
	#conteudo .row p{
		font-size: 18px;
		line-height: 22px;
	}

	#conteudo iframe{
		max-width: 354px;
		width: 100%;
		height: 260px;
		border-radius: 20px;
	}

	#conteudo .sociais{
		margin-top: 30px;
	}
	#conteudo .sociais img{
		transition: .3s;
	}
	#conteudo .sociais img:hover{
		margin-top: -5px;
		transition: .3s;
	}
	#conteudo #comentarios h2{
		margin-bottom: 30px;
	}
	#conteudo #comentarios .avatar{
		width: 88px;
		height: 88px;
		border: 1px solid #ccc;
		border-radius: 50%;
		padding-top: 18px;
		padding-left: 20px;
		margin-right: 20px;
	}
	#conteudo #comentarios h3.nome,
	#conteudo #comentarios p.data,
	#conteudo #comentarios p.comentario{
		font-size: 16px;
		color: #707070;
	}
	#conteudo #comentarios p.comentario{
		font-size: 18px;
		line-height: 20px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	#conteudo #comentarios p.responder{
		font-size: 16px;
		display: inline;
		padding-bottom: 5px;
		border-bottom: 2px solid var(--new-green);
	}
	#conteudo #comentarios textarea{
		max-width: 696px;
		width: 100%;
		height: 86px;
		border-radius: 20px;
		padding-top: 20px;
		padding-left: 20px;
		font-size: 13px;
	}
	#conteudo #comentarios a.btn{
		width: 122px;
		height: 29px;
		border-radius: 20px;
		background-color: var(--new-green);
		border: 1px solid var(--new-green);
		font-size: 11px;
		color: white;
		padding-top: 4px;
	}
	.artigo #comentarios a.btn:hover{
		background-color: transparent;
		color: var(--new-green);
	}

/* --- aside --- */
	#aside{
		max-width: 256px;
		width: 100%;
		margin-left: auto;
		margin-right: 30px;
	}
	#aside .border-green{
		border: 1px solid var(--new-green);
		border-radius: 12px;
		padding: 25px 30px 20px;
	}

	::placeholder{
		color: #cecece!important;
	}
	#aside .form-control{
		background-color: transparent!important;
		font-size: 12px;
		color: var(--new-gray-dark);
		max-height: 34px;
		border-radius: 20px!important;
		padding-left: 20px;
		border: 1px solid #B0B0AF!important; 
	}
	#aside input.customDropdown{
		background : url(../imagens/logos/loupe.png) no-repeat 92% #eeeeee;
		-webkit-appearance: none;
		   -moz-appearance: none;
		    -ms-appearance: none;
		     -o-appearance: none;
	}
	#aside .form-control:focus{
		box-shadow: none;
	}
	#aside h3{
		font-size: 26px;
	}
	#aside hr{
		width: 55px;
		margin-left: 0;
	}
	#aside ul.lista,
	#aside ul.arquivos{
		list-style: none;
	}
	#aside ul.lista li{
		margin-bottom: 12px;
	}
	#aside .lista a{
		font-size: 18px;
		font-family: "Averta-Regular";
		color: #707070;
	}
	#aside .lista a:hover{
		color: var(--new-green)!important;
	}

	#aside .mais-lidas .lista li{
		border-bottom: 1px solid var(--new-gray-dark); 
	}
	#aside .mais-lidas .lista li:last-child{
		border-bottom: none;
	}

	#aside ul.arquivos li{
		margin-bottom: 15px;
	}
	#aside ul.arquivos li a{
		color: var(--gray-dark);
		font-size: 18px;
	}

	#aside .imagem{
		background: url(../imagens/blog/img-blog-aside.png)no-repeat center center;
		background-size: cover;
		height: 563px!important;
		margin-top: 40px;
		padding-top: 150px;
	}
	#aside .desc{
		position: relative;
		margin-top: -200px;
	}
	#aside .desc img{
		margin-top: 10px;
		margin-bottom: 15px;
	}
	#aside .desc p.font-regular{
		font-size: 12px;
		margin-bottom: 5px;
	}
	#aside .desc p.font-bold{
		font-size: 20px;
	}

/* --- certificacoes ---*/
	#certificacoes{
		position: relative;
		margin-top: 60px;
		margin-bottom: 40px;
	}
	#certificacoes h2{
		font-size: 43px;
		margin-top: 20px;
	}
	#certificacoes .btn-slick-carousel-left,
	#certificacoes .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: 35%;
		cursor: pointer;
		max-width: 31px;
	}
	#certificacoes .btn-slick-carousel-left{
		left: 102%;
	}
	#certificacoes .btn-slick-carousel-right{
		right: -12%;
	}
	#certificacoes .slide{
		margin-left: 18px;
		margin-right: 18px;
	}
	#certificacoes img.img-fluid{
		height: 92px;
		max-width: initial;
		width: initial;
		display: block;
		margin: auto;
	}

/* --- img-po --- */
	.img-po{
		position: absolute;
		overflow: hidden;
		margin-top: 460px;
	}
	.img-po img{
		position: relative;
		margin-left: -80px;
	}

/* --- img-saquinho-cha --- */
	.img-saquinho-cha{
		position: absolute;
		overflow: hidden;
		right: 0;
		margin-top: -1800px;
	}
	.img-saquinho-cha img{
		position: relative;
		margin-right: 30px;
	}

/* --- img-graos --- */
	.img-graos{
		position: absolute;
		overflow: hidden;
		margin-top: -350px;
	}
	.img-graos img{
		position: relative;
		margin-left: -100px;
	}

@media screen and (max-width: 1660px) {
	/* --- img-po --- */
		.img-po img{
			margin-left: -80px;
		}

	/* --- img-saquinho-cha --- */
		.img-saquinho-cha img{
			margin-right: -80px;
		}

	/* --- img-graos --- */
		.img-graos img{
			margin-left: -160px;
		}
}

@media screen and (max-width: 1440px) {
	/* --- img-po --- */
		.img-po img{
			margin-left: -150px;
		}

	/* --- img-saquinho-cha --- */
		.img-saquinho-cha img{
			margin-right: -220px;
		}

	/* --- img-graos --- */
		.img-graos img{
			margin-left: -300px;
		}
}

@media screen and (max-width: 1200px) {
	/* --- certificacoes ---*/
		#certificacoes{
			padding-left: 15px;
		}
		#certificacoes h2{
			font-size: 40px;
			/*margin-top: 20px;*/
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: 35%;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 110%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: -25%;
		}
		#certificacoes .slide{
			margin-left: 14px;
			margin-right: 14px;
		}
		#certificacoes img.img-fluid{
			/*height: 92px;*/
		}

	/* --- conteudo --- */
		#conteudo .container{
			/*margin-top: 10px;*/
			padding-left: 30px;
		}

	/* --- aside --- */
		#aside{
			margin-right: 20px;
		}

	/* --- img-po --- */
		.img-po{
			display: none;
		}

	/* --- img-saquinho-cha --- */
		.img-saquinho-cha{
			display: none;
		}

	/* --- img-graos --- */
		.img-graos{
			display: none;
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner h1{
			margin-top: 100px;
			font-size: 40px;
			margin-bottom: 20px;
		}
		#banner p{
			font-size: 20px;
		}

	/* --- conteudo --- */
		#conteudo .container{
			padding-left: 40px;
		}

	/* --- aside --- */
		#aside{
			display: none;
		}

	/* --- certificacoes ---*/
		#certificacoes {
		    margin-top: 80px;
		    margin-bottom: 90px;
		}
		#certificacoes h2{
			font-size: 40px;
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: initial;
			bottom: -60px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 80%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner {
			background: url('../imagens/banners/banner-blog-mobile.png')no-repeat 25% center;
			background-size: cover;
			height: 406px;
		}
		#banner h1{
			margin-top: 80px;
			font-size: 43px;
			margin-bottom: 30px;
		}
		#banner p{
			font-size: 18px;
			margin-bottom: 30px;
		}

	/* --- conteudo --- */
		#conteudo .container{
			margin-top: 30px;
			padding-left: 40px;
			padding-right: 40px;
		}
		#conteudo .clearfix p{
			font-size: 16px;
		}

		#conteudo img.w-100{
			height: 270px;
			object-fit: cover;
			border-radius: 22px;
		}
		#conteudo .text-right{
			margin-bottom: -30px;
		}
		#conteudo .text-right p.bg-green{
			margin-right: 210px;
			top: -40px;
		}
		#conteudo .text-right .bolinha{
			top: -130px;
			margin-right: 10px;
			margin-bottom: -100px;
		}
		#conteudo .autor{
			margin-top: 30px;
		}
		#conteudo a h3{
			font-size: 26px;
		}
		#conteudo a p,
		#conteudo .row p{
			font-size: 18px;
		}
		#conteudo iframe{
			max-width: 100%;
			margin-top: 20px;
		}

		#conteudo #comentarios h2{
			font-size: 26px;
		}

	/* --- certificacoes ---*/
		#certificacoes{
			margin-top: 80px;
			margin-bottom: 100px;
		}
		#certificacoes h2{
			font-size: 30px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 50%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}
		#certificacoes .slide{
			margin-left: initial;
			margin-right: initial;
		}
}

@media screen and (max-width: 400px) {
	/* --- artigos --- */
		#conteudo .text-right p.bg-green {
		    margin-right: 200px;
		}
}

@media screen and (max-width: 350px) {
	/* --- conteudo --- */
		#conteudo .text-right p.bg-green {
		    margin-right: 110px;
		}

	/* --- certificacoes --- */
		#certificacoes h2{
			font-size: 24px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 38%;
		}
		#certificacoes img.img-fluid {
		    height: 80px;
		}
}