/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url('../imagens/banners/banner-contato-desktop.png')no-repeat center center;
	    background-size: cover;
		height: 423px;
	}
	#banner h1{
		margin-top: -20px;
		font-size: 43px;
		margin-bottom: 20px;
	}
	#banner p{
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 20px;
	}

/* --- mapas --- */
	#mapas{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	#mapas iframe{
		border-radius: 108px 108px 18px 18px;
		height: 374px;
	}
	
/* --- endereco --- */
	#endereco{
		padding-top: 30px;
		padding-bottom: 20px;
	}
	#endereco .media-body p{
		font-size: 17px;
		line-height: 22px;
	}
	#endereco .col-lg-4:last-child .media-body p{
		font-size: 14px;
		color: var(--new-gray);
	}
	#endereco hr{
		margin-top: 10px;
	}
	
/* --- formulario --- */
	#formulario{
		padding-top: 30px;
		margin-bottom: 110px;
		position: relative;
	}
	#formulario .form{
		max-width: 602px;
		width: 100%;
		margin-left: -15px;
		position: relative;
	}
	#formulario input,
	#formulario select,
	#formulario textarea{
		width: 100%;
		height: 67px;
		border: 1px solid #C4C4C4!important;
		border-radius: 10px;
		font-size: 16px;
		font-family: "Montserrat-Light";
		padding-left: 35px;
		margin-bottom: 20px;
		color: #C4C4C4;
	}
	#formulario input::placeholder,
	#formulario textarea::placeholder{
		color: #C4C4C4;	
	}
	#formulario textarea{
		height: 240px;
		padding-top: 25px;
		margin-top: 5px;
		margin-bottom: 30px;
	}
	#formulario a.btn{
		width: 195px;
		height: 37px;
		font-size: 14px;
		border: 1px solid var(--new-green);
		color: var(--new-gray);
		border-radius: 50px;
	}
	#formulario a.btn:hover{
		background-color: var(--new-green);
		color: white;
	}
	#formulario .imagem{
		position: absolute;
		top: 70px;
		right: 0px;
		overflow: hidden;
		z-index: -1;
	}
	#formulario .imagem img{
		position: relative;
		margin-right: 40px;
	}

/* --- equipe --- */
	#equipe .container{
		max-width: 1253px!important;
		background-color: #f4f0ed;
		border-radius: 78px;
		padding: 76px 75px 40px;
		margin-bottom: 85px;
	}
	#equipe h2{
		color: #1E3219;
		font-size: 38px;
		margin-bottom: 50px;
	}
	#equipe img{
		margin-bottom: 30px;
	}
	#equipe p.font-bold{
		font-size: 22px;
		margin-bottom: 10px;
	}
	#equipe p.font-light{
		font-size: 16px;
		line-height: 20px;
		height: 43px;
		overflow: auto;
		padding-right: 5px;
	}
	#equipe p.font-light::-webkit-scrollbar {
	 	width: 5px;
	  	border-radius: 10px;
	}
	#equipe p.font-light::-webkit-scrollbar-track-piece {
	  	background-color: white;
	}
	#equipe p.font-light::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-green);
	}

/* --- trabalhe --- */
	#trabalhe{
		background: url(../imagens/bg/bg-trabalhe.png)no-repeat center center;
		height: 457px;
		margin-top: 250px;
	}
	#trabalhe .bg-green{
		position: relative;
		top: -154px;

		max-width: 476px;
		padding: 40px 38px 28px;
		border-radius: 18px;
	}
	#trabalhe h2{
		font-size: 38px;
		margin-bottom: 20px;
	}
	#trabalhe label,
	#trabalhe input{
		width: 100%;
		height: 67px;
		border: 1px solid white!important;
		border-radius: 10px;
		font-size: 16px;
		font-family: "Montserrat-Light";
		padding-left: 25px;
		margin-bottom: 20px;
		color: white!important;
		background-color: transparent;
	}
	#trabalhe input::placeholder{
		color: white!important;	
	}
	
	#trabalhe input[type='file'] {
		display: none;
	}
	#trabalhe label {
	  	cursor: pointer;
	  	padding-top: 20px;
	  	padding-right: 25px;
	}
	#trabalhe label .float-right{
		background-color: #5E7557;
		width: 86px;
		height: 28px;
		border-radius: 14px;
		font-size: 14px;
		font-family: "Montserrat-Light";
		padding-top: 4px;
		text-align: center;
	}
	#trabalhe label:hover .float-right{
		border: 1px solid white;
		background-color: transparent;
		padding-top: 3px;
	}
	#trabalhe a.btn{
		width: 195px;
		height: 37px;
		font-size: 14px;
		padding-top: 8px;
		color: var(--new-gray);
		border-radius: 50px;
		font-family: "Montserrat-Light";
	}
	#trabalhe a.btn:hover{
		color: white;
	}

/* --- img-ondas-1 --- */
	.img-ondas-1{
		position: absolute;
		overflow: hidden;
		left: 0;
		margin-top: -80px;
	}
	.img-ondas-1 img{
		margin-left: -50px;
	}

/* --- img-ondas-2 --- */
	.img-ondas-2{
		position: absolute;
		overflow: hidden;
		right: 0;
		margin-top: -300px;
	}
	.img-ondas-2 img{
		margin-right: -110px;
	}

/* --- certificacoes ---*/
	#certificacoes{
		position: relative;
		margin-top: 60px;
		margin-bottom: 40px;
	}
	#certificacoes h2{
		font-size: 43px;
		margin-top: 20px;
	}
	#certificacoes .btn-slick-carousel-left,
	#certificacoes .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: 35%;
		cursor: pointer;
		max-width: 31px;
	}
	#certificacoes .btn-slick-carousel-left{
		left: 102%;
	}
	#certificacoes .btn-slick-carousel-right{
		right: -12%;
	}
	#certificacoes .slide{
		margin-left: 18px;
		margin-right: 18px;
	}
	#certificacoes img.img-fluid{
		height: 92px;
		max-width: initial;
		width: initial;
		display: block;
		margin: auto;
	}

@media screen and (max-width: 1660px) {
	/* --- formulario --- */
		#formulario .imagem{
			position: absolute;
			top: 70px;
			right: 0px;
			overflow: hidden;
			z-index: -1;
		}
		#formulario .imagem img{
			position: relative;
			margin-right: -90px;
		}
}

@media screen and (max-width: 1440px) {
	/* --- img-ondas-1 --- */
		.img-ondas-1 img{
			margin-left: -150px;
		}

	/* --- img-ondas-2 --- */
		.img-ondas-2 img{
			margin-right: -230px;
		}

	/* --- formulario --- */
		#formulario .imagem{
			position: absolute;
			top: 70px;
			right: 0px;
			overflow: hidden;
			z-index: -1;
		}
		#formulario .imagem img{
			position: relative;
			margin-right: -240px;
		}
}

@media screen and (max-width: 1200px) {
	/* --- img-ondas-1 --- */
		.img-ondas-1{
			display: none;
		}

	/* --- img-ondas-2 --- */
		.img-ondas-2{
			display: none;
		}

	/* --- formulario --- */
		#formulario .form{
			margin-left: 0px;
		}
		#formulario .imagem img{
			position: relative;
			margin-right: -430px;
		}

	/* --- equipe --- */
		#equipe p.font-bold{
			margin-bottom: 5px;
		}
		#equipe p.font-light{
			height: 60px;
		}

	/* --- certificacoes ---*/
		#certificacoes{
			padding-left: 15px;
		}
		#certificacoes h2{
			font-size: 40px;
			/*margin-top: 20px;*/
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: 35%;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 110%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: -25%;
		}
		#certificacoes .slide{
			margin-left: 14px;
			margin-right: 14px;
		}
		#certificacoes img.img-fluid{
			/*height: 92px;*/
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner h1{
			margin-top: 80px;
			font-size: 40px;
			margin-bottom: 20px;
		}
		#banner p{
			font-size: 20px;
		}

	/* --- mapas --- */
		#mapas iframe{
			border-radius: 18px;
			height: 270px;
		}

	/* --- endereco --- */
		#endereco .media-body p{
			font-size: 16px;
		}

	/* --- formulario --- */
		#formulario .form{
			max-width: 100%;
		}
		#formulario .imagem{
			position: relative;
			top: 80px;
		}

	/* --- equipe --- */
		#equipe .container{
			border-radius: 0px;
			padding: 70px 20px 40px;
		}
		#equipe p.font-bold{
			margin-bottom: 10px;
		}
		#equipe p.font-light{
			height: 60px;
		}

	/* --- certificacoes ---*/
		#certificacoes {
		    margin-top: 80px;
		    margin-bottom: 90px;
		}
		#certificacoes h2{
			font-size: 40px;
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: initial;
			bottom: -60px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 80%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}	
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner {
			background: url('../imagens/banners/banner-contato-mobile.png')no-repeat center center;
			height: 402px;
		}
		#banner h1{
			margin-top: 100px;
			font-size: 43px;
			margin-bottom: 20px;
		}
		#banner p{
			font-size: 18px;
			margin-bottom: 30px;
		}

	/* --- endereco --- */
		#endereco .media{
			margin-bottom: 30px;
		}
		#endereco .media-body p{
			font-size: 17px;
		}

	/* --- formulario --- */
		#formulario .imagem{
			position: relative;
			top: 50px;
		}
		#formulario .imagem img{
			margin-left: -50px;
		}

	/* --- equipe --- */
		#equipe .container{
			padding: 70px 40px 40px;
			margin-bottom: 0;
		}

	/* --- trabalhe --- */
		#trabalhe{
			background: transparent;
			height: auto;
			margin-top: -40px;
		}
		#trabalhe .bg-green{
			top: 0px;
			padding: 40px 30px 28px;
		}
		#trabalhe h2{
			font-size: 33px;
		}
		#trabalhe label,
		#trabalhe input{
			height: 60px;
			font-size: 13px;
			padding-left: 25px;
		}
		#trabalhe label .float-right{
			width: 76px;
			height: 25px;
			font-size: 10px;
			padding-top: 4px;
		}
		#trabalhe a.btn{
			width: 173px;
			height: 33px;
			font-size: 12px;
			padding-top: 8px;
		}

	/* --- certificacoes ---*/
		#certificacoes{
			margin-top: 80px;
			margin-bottom: 100px;
		}
		#certificacoes h2{
			font-size: 30px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 50%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}
		#certificacoes .slide{
			margin-left: initial;
			margin-right: initial;
		}
}

@media screen and (max-width: 400px) {
	/* --- banner --- */
		#banner h1{
			font-size: 40px;
			margin-bottom: 20px;
		}
}

@media screen and (max-width: 350px) {
	/* --- banner --- */
		#banner h1 {
		    font-size: 37px;
		}

	/* --- endereco --- */
		#endereco .media-body p {
		    font-size: 15px;
		}
		#endereco .col-lg-4:last-child .media-body p {
		    font-size: 11px;
		}

	/* --- certificacoes --- */
		#certificacoes h2{
			font-size: 24px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 38%;
		}
		#certificacoes img.img-fluid {
		    height: 80px;
		}
}