/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url('../imagens/banners/banner-exportacao-desktop.png')no-repeat center center;
	    background-size: cover;
		height: 401px;
	}
	#banner .ml-auto{
		margin-right: -10px;
		padding-left: 150px!important;
	}
	#banner h1{
		margin-top: -20px;
		font-size: 43px;
		margin-bottom: 20px;
	}
	#banner p{
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 20px;
	}

/* --- mapa --- */
	#mapa{
		padding-top: 120px;
		padding-bottom: 10px;
	}
	#mapa img{
		/*border: 1px solid red;*/
	}
	#mapa .container{
		overflow: auto;
	}
	#mapa .container::-webkit-scrollbar-track-piece {
		background-color: white;
		border: 1px solid var(--new-green);
		border-radius: 20px;
	}
	#mapa .container::-webkit-scrollbar-thumb:horizontal {
		height: 5px;
		background-color: var(--new-green);
		border-radius: 20px;
	}
	
/* --- img-folhas --- */
	.img-folhas{
		position: absolute;
		overflow: hidden;
		right: 0;
		margin-top: -200px;
	}
	.img-folhas img{
		margin-right: -230px;
	}

/* --- estamos-prontos --- */
	#estamos-prontos .container{
		padding-left: 60px;
		padding-right: 60px;
	}
	#estamos-prontos h2{
		font-size: 43px;
	}
	#estamos-prontos .box img{
		margin-bottom: 10px;
	}
	#estamos-prontos .box p.text-gray{
		font-size: 43px;
		margin-bottom: 0px;
	}
	#estamos-prontos .box p.text-green{
		font-size: 22px;
		margin-bottom: 0;
	}
	
/* --- img-saquinho-cha --- */
	.img-saquinho-cha{
		position: absolute;
		overflow: hidden;
		margin-top: -40px;
	}
	.img-saquinho-cha img{
		/*position: relative;*/
		/*display: block;*/
		margin-right: 0px;
	}

/* --- triunfo --- */
	#triunfo{
		padding-top: 50px;
		padding-bottom: 100px;
	}
	#triunfo .container{
		position: relative;
		z-index: 1;
	}
	#triunfo .exporta{
		max-width: 596px;
		width: 100%;
		padding: 60px 120px 40px 50px;
		border-radius: 30px;
		float: left;
		top: 60px;
		left: -5px;
		position: relative;
	}
	#triunfo .exporta h2{
		font-size: 43px;
		margin-bottom: 20px;
	}
	#triunfo .exporta p{
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 40px;
	}

	#triunfo .negocio{
		max-width: 553px;
		width: 100%;
		background-color: white;
		padding: 50px 80px 50px 70px;
		border-radius: 30px;
		float: right;
		right: 0px;
		position: absolute;
	}
	#triunfo .negocio h2{
		font-size: 43px;
		margin-bottom: 30px;
	}
	#triunfo .negocio input{
		height: 67px;
		border: 1px solid var(--new-green)!important;
		border-radius: 10px;
		font-size: 16px;
		padding-left: 20px;
		margin-bottom: 20px;
	}
	#triunfo .negocio a.btn{
		width: 195px;
		height: 37px;
		font-size: 14px;
		padding-top: 8px;
		border: 1px solid var(--new-gray);
		background-color: var(--new-gray);
		color: white;
	}
	#triunfo .negocio a.btn:hover{
		background-color: transparent;
		color: var(--new-gray);
	}
	/*#triunfo img.d-block.mx-auto{
		position: relative;
		top: 25px;
		z-index: -1;
	}*/
	#triunfo iframe{
		position: relative;
		max-width: 838px;
		width: 100%;
		height: 419px;
		border-radius: 22px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		top: 25px;
		z-index: 0;
	}

/* --- img-po --- */
	.img-po{
		position: absolute;
		overflow: hidden;
		right: 0;
		margin-top: -300px;
	}
	.img-po img{
		/*position: relative;*/
		/*display: block;*/
		margin-right: -120px;
	}

/* --- certificacoes ---*/
	#certificacoes{
		position: relative;
		margin-top: 60px;
		margin-bottom: 40px;
	}
	#certificacoes h2{
		font-size: 43px;
		margin-top: 20px;
	}
	#certificacoes .btn-slick-carousel-left,
	#certificacoes .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: 35%;
		cursor: pointer;
		max-width: 31px;
	}
	#certificacoes .btn-slick-carousel-left{
		left: 102%;
	}
	#certificacoes .btn-slick-carousel-right{
		right: -12%;
	}
	#certificacoes .slide{
		margin-left: 18px;
		margin-right: 18px;
	}
	#certificacoes img.img-fluid{
		height: 92px;
		max-width: initial;
		width: initial;
		display: block;
		margin: auto;
	}

@media screen and (max-width: 1660px) {
	/* --- img-folhas --- */
		.img-folhas{
			margin-left: 10px;
		}
		.img-folhas img{
			margin-right: -300px;
		}

	/* --- img-saquinho-cha --- */
		.img-saquinho-cha{
			margin-top: -40px;
		}
		.img-saquinho-cha img{
			margin-right: 0px;
			margin-left: -80px;
		}
}

@media screen and (max-width: 1440px) {
	/* --- img-folhas --- */
		.img-folhas{
			margin-left: 5px;
		}
		.img-folhas img{
			margin-right: -450px;
		}

	/* --- img-saquinho-cha --- */
		.img-saquinho-cha{
			margin-top: -40px;
		}
		.img-saquinho-cha img{
			margin-right: 0px;
			margin-left: -240px;
		}

	/* --- img-po --- */
		.img-po img{
			margin-right: -250px;
		}
}

@media screen and (max-width: 1200px) {
	/* --- banner --- */
		#banner{
			background: url('../imagens/banners/banner-exportacao-desktop.png')no-repeat 46% center;
		}
		#banner .ml-auto{
			margin-right: 20px;
		}

	/* --- img-folhas --- */
		.img-folhas{
			display: none;
		}

	/* --- img-saquinho-cha --- */
		.img-saquinho-cha{
			display: none;
		}
		
	/* --- img-po --- */
		.img-po{
			display: none;
		}

	/* --- mapa --- */
		#mapa .container{
			padding-bottom: 15px;
		}
		#mapa .container::-webkit-scrollbar-track-piece {
			margin-left: 20px;
			margin-right: 20px;
		}

	/* --- certificacoes ---*/
		#certificacoes{
			padding-left: 15px;
		}
		#certificacoes h2{
			font-size: 40px;
			/*margin-top: 20px;*/
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: 35%;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 110%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: -25%;
		}
		#certificacoes .slide{
			margin-left: 14px;
			margin-right: 14px;
		}
		#certificacoes img.img-fluid{
			/*height: 92px;*/
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner{
			background: url('../imagens/banners/banner-exportacao-desktop.png')no-repeat 48% center;
		}
		#banner .ml-auto{
			margin-right: 20px;
			padding-left: 110px!important;
		}
		#banner h1{
			margin-top: 50px;
			font-size: 40px;
			margin-bottom: 20px;
		}
		#banner p{
			font-size: 20px;
		}

	/* --- mapa --- */
		#mapa{
			padding-top: 50px;
			padding-bottom: 50px;
		}

	/* --- estamos-prontos --- */
		#estamos-prontos .container{
			padding-left: 20px;
			padding-right: 20px;
		}
		#estamos-prontos .box{
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 20px;
		}

	/* --- triunfo --- */
		#triunfo .exporta{
			max-width: 100%;
			padding: 60px 50px 40px 50px;
			float: none;
			top: 0px;
			left: 0px;
		}

		#triunfo .negocio{
			max-width: 100%;
			padding: 80px 50px 50px 50px;
			float: none;
			top: -50px;
			position: relative;
		}
		#triunfo .negocio a.btn{
			width: 195px;
			height: 37px;
			font-size: 14px;
			padding-top: 8px;
		}
		#triunfo iframe{
			top: 0px;
			max-width: 100%;
			height: 419px;
			object-fit: cover;
		}

	/* --- certificacoes ---*/
		#certificacoes {
		    margin-top: 80px;
		    margin-bottom: 90px;
		}
		#certificacoes h2{
			font-size: 40px;
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: initial;
			bottom: -60px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 80%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}	
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner {
			background: url('../imagens/banners/banner-exportacao-mobile.png')no-repeat center center;
			height: 500px;
		}
		#banner .container{
			padding-left: 25px;
			padding-right: 25px;
		}
		#banner .ml-auto{
			margin-right: initial;
			margin-left: initial!important;
			padding-left: 0px!important;
		}
		#banner h1{
			margin-top: 60px;
			font-size: 43px;
			margin-bottom: 30px;
		}
		#banner p{
			font-size: 18px;
			margin-bottom: 30px;
		}

	/* --- mapa --- */
		#mapa{
			padding-top: 40px;
			padding-bottom: 40px;
		}

	/* --- estamos-prontos --- */
		#estamos-prontos .container{
			padding-left: 20px;
			padding-right: 20px;
		}
		#estamos-prontos h2{
			text-align: center;
			margin-bottom: 30px; 
		}
		#estamos-prontos .box{
			margin-left: 25px;
			margin-right: 25px;
			margin-bottom: 30px;
		}
		#estamos-prontos .box img{
			margin-bottom: 5px;
		}

	/* --- triunfo --- */
		#triunfo{
			padding-top: 50px;
			padding-bottom: 0px;
		}
		#triunfo .exporta{
			padding: 40px 20px 40px 20px;
			float: none;
			top: 0px;
			left: 0px;
		}
		#triunfo .exporta h2{
			font-size: 37px;
		}
		#triunfo .exporta p{
			font-size: 22px;
			line-height: 30px;
			margin-bottom: 20px;
		}

		#triunfo .negocio{
			padding: 40px 20px 60px 20px;
			top: -40px;
		}
		#triunfo .negocio h2{
			font-size: 42px;
			margin-bottom: 30px;
		}
		#triunfo .negocio input{
			height: 65px;
			font-size: 15px;
		}
		#triunfo .negocio a.btn{
			width: 190px;
			height: 36px;
			font-size: 13px;
			padding-top: 7px;
		}

	/* --- certificacoes ---*/
		#certificacoes{
			margin-top: 80px;
			margin-bottom: 100px;
		}
		#certificacoes h2{
			font-size: 30px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 50%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}
		#certificacoes .slide{
			margin-left: initial;
			margin-right: initial;
		}
}

@media screen and (max-width: 400px) {
	/* --- banner --- */
		#banner .ml-auto{
			margin-right: 0px;
		    padding-left: 5px!important;
		    padding-right: 5px!important;
		}
		#banner h1{
			margin-top: 30px;
			font-size: 40px;
			margin-bottom: 25px;
		}
}

@media screen and (max-width: 350px) {
	/* --- triunfo --- */
		#triunfo iframe {
		    height: 318px;
		}

	/* --- certificacoes --- */
		#certificacoes h2{
			font-size: 24px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 38%;
		}
		#certificacoes img.img-fluid {
		    height: 80px;
		}
}