/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url('../imagens/banners/banner-extrato-seco-desktop.png')no-repeat center center;
	    /*background-size: cover;*/
		height: 401px;
	}
	#banner .ml-auto{
		margin-right: -20px;
	}
	#banner h1{
		margin-top: -20px;
		font-size: 43px;
		margin-bottom: 20px;
	}
	#banner p{
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	#banner a{
		width: 219px;
		height: 51px;
		padding-top: 12px;
	}

/* --- aplicacoes --- */
	#aplicacoes{
		margin-top: 70px;
		margin-bottom: 50px;
	}
	#aplicacoes h2{
		font-size: 43px;
		margin-bottom: 70px;
	}
	#aplicacoes a img.img-fluid{
		border-radius: 50%;
		width: 130px;
		height: 130px;
		object-fit: cover;
		margin-bottom: 32px;
		transition: .3s;
	}
	#aplicacoes a p{
		font-size: 18px;
	}

	#aplicacoes a .imagem .wrapper div{
		background: rgba(94, 117, 87, 0.87);
		width: 50%;
		height: 70%;
		transition: .5s;
		border-radius: 50%;
	    
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
		opacity: 0;
	}
	#aplicacoes a .imagem .thumb-info{
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		width: 100px;
		transition: .5s;
	}
	#aplicacoes a .imagem .thumb-info p{
		font-size: 16px;
		color: white;
		margin-bottom: 5px;
		line-height: 20px;
	}
	#aplicacoes a .imagem .thumb-info img{
		max-width: 50px;
	}
	#aplicacoes a:hover .imagem .wrapper img.img-fluid{
		border: 6px solid var(--new-green);
		transform: scale(1.3);
		transition: .3s;
	}
	#aplicacoes a .imagem .wrapper:hover div,
	#aplicacoes a .imagem:hover .thumb-info{
		opacity: 1;	
	}

/* --- outros produtos --- */
	#outros-produtos{
		margin-top: 100px;
	}
	#outros-produtos h2.text-gray{
		font-size: 43px;
		margin-bottom: 50px;
		margin-left: 70px;
	}
	#outros-produtos .carousel-outros-produtos{
		max-width: 996px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	#outros-produtos .slide{
		max-width: 473px!important;
		text-align: left;
	}
	#outros-produtos .imagem{
		max-width: 253px;
		height: 166px;
		border-radius: 18px; 
		position: relative;
	}
	#outros-produtos .box-1 .imagem{
		background: url(../imagens/produtos/produto-01.png)no-repeat center center;
		background-size: cover;
	}
	#outros-produtos .box-2 .imagem{
		background: url(../imagens/produtos/produto-04.png)no-repeat center center;
		background-size: cover;
	}
	#outros-produtos .box-3 .imagem{
		background: url(../imagens/produtos/produto-03.png)no-repeat center center;
		background-size: cover;
	}
	#outros-produtos .box-4 .imagem{
		background: url(../imagens/produtos/produto-02.png)no-repeat center center;
		background-size: cover;
	}
	#outros-produtos .imagem .icon-acesso{
		position: absolute;
		right: -25px;
		top: 60px;

		background-color: var(--new-green);
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 5px solid white;
	}
	#outros-produtos .imagem .icon-acesso img{
		max-width: 22px;
		margin-top: 12px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#outros-produtos .descricao{
		padding-left: 32px;
		padding-right: 8px;
	}
	#outros-produtos .descricao h2{
		font-size: 22px;
		margin-bottom: 10px;
	}
	#outros-produtos .descricao p{
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 0;
		height: 100px;
		overflow: auto;
		padding-right: 5px;
	}
	#outros-produtos .descricao p::-webkit-scrollbar {
	 	width: 5px;
	  	border-radius: 10px;
	}
	#outros-produtos .descricao p::-webkit-scrollbar-track-piece {
	  	background-color: white;
	}
	#outros-produtos .descricao p::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-green);
	}
	#outros-produtos .slide .row{
		border: 1px solid transparent;
		border-radius: 18px; 
		transition: .3s;
	}
	#outros-produtos .slide:hover .row{
		border-color: var(--new-green);
		transition: .3s;
	}
	#outros-produtos .slide:hover .icon-acesso{
		background-color: var(--new-gray);
		transition: .3s;
	}

	#outros-produtos .btn-slick-carousel-left,
	#outros-produtos .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: -45%;
		cursor: pointer;
		max-width: 31px;
	}
	#outros-produtos .btn-slick-carousel-left{
		left: 96%;
	}
	#outros-produtos .btn-slick-carousel-right{
		right: -3%;
	}

/* --- certificacoes ---*/
	#certificacoes{
		position: relative;
		margin-top: 60px;
		margin-bottom: 40px;
	}
	#certificacoes h2{
		font-size: 43px;
		margin-top: 20px;
	}
	#certificacoes .btn-slick-carousel-left,
	#certificacoes .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: 35%;
		cursor: pointer;
		max-width: 31px;
	}
	#certificacoes .btn-slick-carousel-left{
		left: 102%;
	}
	#certificacoes .btn-slick-carousel-right{
		right: -12%;
	}
	#certificacoes .slide{
		margin-left: 18px;
		margin-right: 18px;
	}
	#certificacoes img.img-fluid{
		height: 92px;
		max-width: initial;
		width: initial;
		display: block;
		margin: auto;
	}

/* --- modal especialista ---*/
	#modal_adquirir .modal-dialog{
		max-width: 802px;
		width: 100%;
	}
	#modal_adquirir .modal-content{
		background-color: transparent;
		border: 0px;
	}
	#modal_adquirir .modal-body{
		padding: 0px!important;
	}
	#modal_adquirir .formulario{
		max-width: 427px;
		width: 100%;
		background-color: white;
		padding: 40px 60px;
		border-radius: 18px;
		float: left;
	}
	#modal_adquirir h2{
		font-size: 33px;
		/*line-height: 30px;*/
		margin-bottom: 25px;
	}
	#modal_adquirir input{
		height: 52px;
		border: 1px solid var(--new-green)!important;
		border-radius: 10px;
		font-size: 12px;
		padding-left: 20px;
		margin-bottom: 15px;
	}
	#modal_adquirir a.btn{
		width: 137px;
		height: 29px;
		font-size: 10px;
		border: 1px solid var(--new-gray);
		background-color: var(--new-gray);
		color: white;
		border-radius: 50px;
	}
	#modal_adquirir a.btn:hover{
		background-color: transparent;
		color: var(--new-gray);
	}
	#modal_adquirir .imagem{
		background: url(../imagens/bg/bg-formulario.png)no-repeat center center;
		background-size: cover;
		max-width: 460px;
		width: 100%;
		height: 459px;
		margin-left: auto;
		margin-top: 50px;
	}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	/* --- banner --- */
		#banner{
			background: url('../imagens/banners/banner-extrato-seco-desktop.png')no-repeat 42% center;
			height: 401px;
		}
		#banner .ml-auto{
			margin-right: 30px;
		}

	/* --- certificacoes ---*/
		#certificacoes{
			padding-left: 15px;
		}
		#certificacoes h2{
			font-size: 40px;
			/*margin-top: 20px;*/
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: 35%;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 110%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: -25%;
		}
		#certificacoes .slide{
			margin-left: 14px;
			margin-right: 14px;
		}
		#certificacoes img.img-fluid{
			/*height: 92px;*/
		}

	/* --- outros produtos --- */
		#outros-produtos .btn-slick-carousel-left{
			left: 92%;
		}
		#outros-produtos .btn-slick-carousel-right{
			right: 0%;
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner{
			background: url('../imagens/banners/banner-extrato-seco-desktop.png')no-repeat 41% center;
			height: 401px;
		}
		#banner .ml-auto{
			margin-right: 20px;
		}
		#banner h1{
			margin-top: 50px;
			font-size: 40px;
			margin-bottom: 20px;
		}
		#banner p{
			font-size: 20px;
			/*line-height: 25px;*/
		}

	/* --- aplicacoes --- */
		#aplicacoes .box{
			margin-bottom: 40px;
		}
		#aplicacoes a .imagem .wrapper div{
			width: 35%;
			height: 70%;
		}

	/* --- outros produtos --- */
		#outros-produtos h2.text-gray{
			font-size: 43px;
			margin-left: 0px;
		}
		#outros-produtos .btn-slick-carousel-left,
		#outros-produtos .btn-slick-carousel-right{
			top: -50%;
		}
		#outros-produtos .btn-slick-carousel-left{
			left: 90%;
		}
		#outros-produtos .btn-slick-carousel-right{
			right: 0%;
		}

	/* --- certificacoes ---*/
		#certificacoes {
		    margin-top: 80px;
		    margin-bottom: 90px;
		}
		#certificacoes h2{
			font-size: 40px;
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: initial;
			bottom: -60px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 80%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}

	/* --- modal especialista ---*/
		#modal_adquirir .modal-dialog{
			padding-left: 20px;
			padding-right: 10px;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner {
			background: url('../imagens/banners/banner-extrato-seco-mobile.png')no-repeat center center;
			height: 739px;
		}
		#banner .ml-auto{
			margin-right: 0px;
		}
		#banner h1{
			margin-top: 60px;
			font-size: 43px;
			margin-bottom: 30px;
		}
		#banner p{
			font-size: 18px;
			margin-bottom: 30px;
		}

	/* --- aplicacoes --- */
		#aplicacoes{
			margin-top: 0px;
			margin-bottom: 0px;
		}
		#aplicacoes h2{
			font-size: 43px;
			margin-bottom: 70px;
		}
		#aplicacoes a .imagem .wrapper div{
			width: 34%;
			height: 70%;
		}

	/* --- outros produtos --- */
		#outros-produtos{
			margin-top: 50px;
		}
		#outros-produtos h2.text-gray{
			font-size: 35px;
			margin-bottom: 40px;
		}
		#outros-produtos .imagem{
			max-width: 94%;
			height: 166px;
		}
		#outros-produtos .imagem .icon-acesso{
			right: -24px;
			top: 60px;
		}
		#outros-produtos .descricao{
			margin-top: 20px;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 10px;
		}
		#outros-produtos .descricao p{
			font-size: 19px;
			line-height: initial;
			height: 105px;
			padding-right: 8px;
		}
		#outros-produtos .btn-slick-carousel-left,
		#outros-produtos .btn-slick-carousel-right{
			display: none!important;
		}

	/* --- certificacoes ---*/
		#certificacoes{
			margin-top: 80px;
			margin-bottom: 100px;
		}
		#certificacoes h2{
			font-size: 30px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 50%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}
		#certificacoes .slide{
			margin-left: initial;
			margin-right: initial;
		}

	/* --- modal especialista ---*/
		#modal_adquirir .modal-dialog{
			padding-left: 5px;
			padding-right: 20px;
		}
		#modal_adquirir .formulario{
			padding: 30px 40px;
			float: none;
		}
		#modal_adquirir h2{
			font-size: 33px;
			line-height: 35px;
		}
		#modal_adquirir .imagem{
			display: none;
		}
}

@media screen and (max-width: 400px) {
	/* --- banner --- */
		#banner .ml-auto{
			margin-right: 0px;
		    padding-left: 5px!important;
		    padding-right: 5px!important;
		}
}

@media screen and (max-width: 350px) {
	/* --- banner --- */
		#banner h1 {
		    font-size: 38px;
		}
		#banner p {
		    font-size: 17px;
		    margin-bottom: 20px;
		}
		
	/* --- aplicacoes --- */
		#aplicacoes h2 {
		    font-size: 38px;
		}

	/* --- certificacoes --- */
		#certificacoes h2{
			font-size: 24px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 38%;
		}
		#certificacoes img.img-fluid {
		    height: 80px;
		}
}