/*
	CSS que engloba todas as páginas
*/

@font-face {
    font-family: "Averta-Regular";
    src: url("../fonts/Averta-Regular.otf");
}
@font-face {
    font-family: "AmsiPro-Regular";
    src: url("../fonts/AmsiPro-Regular.ttf");
}
@font-face {
    font-family: "Averta-Extrabold";
    src: url("../fonts/averta-extra-bold.otf");
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Averta-light";
    src: url("../fonts/averta-light.otf");
}
@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat-Light.ttf");
}
@font-face {
    font-family: "Averta-Bold";
    src: url("../fonts/averta-bold.otf");
}

/* --- outros --- */
	:root{
		--new-green:#ABB813;
		--new-green-2:#B7C93F;
		--new-green-dark:#1E3219;
		--new-gray:#5E7557;
		--new-gray-dark:#707070;
	}

	body{
		font-family: "Averta-Regular";
		color: var(--new-gray);
	}
	a:hover{
		text-decoration: none;
	}

	.font-regular-2{
		font-family: "AmsiPro-Regular";
	}
	.font-regular{
		font-family: "Averta-Regular";
	}
	.font-bold{
		font-family: "Averta-Bold";
	}
	.font-light{
		font-family: "Averta-light";
	}
	.font-light-2{
		font-family: "Montserrat-Light";
	}
	.font-extra-bold{
		font-family: "Averta-Extrabold";
	}

	.bg-green{
		background-color: var(--new-green)!important;
	}
	.bg-green-2{
		background-color: var(--new-green-2);
	}
	.bg-green-dark{
		background-color: var(--new-green-dark);
	}
	.bg-gray{
		background-color: var(--new-gray);
	}
	.bg-gray-dark{
		background-color: var(--new-gray-dark);
	}

	.text-green{
		color: var(--new-green);
	}
	.text-gray{
		color: var(--new-gray);
	}
	.text-gray-dark{
		color: var(--new-gray-dark);
		opacity: .7;
	}
	
	.container{
		max-width: 1080px!important;
	}
	.btn-green{
		border: 1px solid var(--new-green);
		background-color: transparent;
		color: var(--new-green);
		border-radius: 50px;
		transition: .3s;
	}
	.btn-green:hover{
		background-color: var(--new-green);
		color: white;
		transition: .3s;
	}

	.btn-white{
		border: 1px solid white;
		background-color: white;
		color: var(--new-green);
		border-radius: 50px;
		transition: .3s;
	}
	.btn-white:hover{
		background-color: transparent;
		color: white;
		transition: .3s;
	}

	.btn-white-2{
		border: 1px solid white;
		background-color: transparent;
		color: white;
		border-radius: 50px;
		transition: .3s;
	}
	.btn-white-2:hover{
		background-color: white;
		color: var(--new-green);
		transition: .3s;
	}

/* --- modal --- */
	.modal-backdrop {
	   	background: url(../imagens/bg/bg-modal.png)no-repeat center 45%;
	   	/*background-size: cover;*/
	   	/*height: 323px;*/
	   	/*top: 22%;*/
	   	opacity: 1!important;
	   	background-color: rgba(0,0,0,0.2);
	   	/*transition: all 1s ease-out;*/
	}
	.modal-backdrop.fade {
	  	/*transition: all 1s ease-out;*/
	}
	.modal-backdrop.fade.in {
		/*transition: all 1s ease-out;*/
	}
	.modal .modal-dialog {
	  	transform: translate3d(0, 0vh, 0);
	}

/* --- item-fixo --- */
	#item-fixo{
		position: fixed;
		bottom: 98px;
		right: 11%;
		z-index: 3;
	}

/*--- Barra de rolagem do navegador --- */
	::-webkit-scrollbar {
	 	width: 10px;
	  	height: 10px;
	  	border-radius: 20px;
	}
	::-webkit-scrollbar-track-piece {
	  	background-color: var(--white);
	  	border-radius: 20px;
	}
	::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-green);
	  	border-radius: 20px;
	}
	::-webkit-scrollbar-thumb:horizontal {
	  	background-color: var(--new-brown);
	  	border-radius: 20px;
	}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1660px) {
	/* --- item-fixo --- */
		#item-fixo{
			right: 5%;
			max-width: 100px;
		}
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	.container{
		/*padding-left: 15px!important;*/
		/*padding-right: 15px!important;*/
	}

	#item-fixo{
		right: 6.5%;
	}
	#item-fixo img{
		max-width: 60px;
	}
}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 480px) {
	#item-fixo{
		bottom: 55px;
		right: 4%;
	}
	#item-fixo img{
		max-width: 50px;
	}
}