
/* --- header top --- */
	header #top .border-green{
		border: 1px solid var(--new-gray);
		position: absolute;
		width: 100%;
		top: 20px;
		z-index: -1;
	}
	header #top .container{
		background-color: var(--new-green-2);
		border-bottom-left-radius: 42px;
		border-bottom-right-radius: 42px;
		height: 50px;
		padding-top: 8px;
		padding-left: 35px;
		padding-right: 35px;
	}
	header #top a{
		margin-left: 5px;
		margin-right: 5px;
	}
	header #top .text-left a{
		margin-left: 8px;
		margin-right: 8px;
	}
	header #top p{
		font-size: 13px;
	}

	header #top .dropdown-menu{
		right: 0;
		transform: translate3d(-178px, 28px, 0px)!important;
		padding: 0;
		width: 14rem;
	}
	header #top .input-group-append{
		cursor: pointer;
	}

/* --- header navegacao --- */
	header .navegacao{
		margin-top: 20px;
		margin-bottom: 25px;
	}
	header .navbar-nav{
		margin-top: 18px;
	}
	header .navbar-nav .nav-link {
	    padding: 0px!important;
	}
	header .navbar-nav li{
		text-align: center;
	}
	header .navbar-nav li a{
		font-size: 18px;
		color: var(--new-gray-dark);
		margin-left: 15px;
		margin-right: 15px;
		font-family: "Averta-light";
	}
	header .navbar-nav li a::after{
		content: '●';
		color: transparent;
		display: block;
		line-height: 20px;
	}
	header .navbar-nav li.active a::after,
	header .navbar-nav li a:hover::after{
		color: var(--new-green);
	}

/* --- fale-equipe --- */
	body{
		overflow-x: hidden;
	}
	.fale-equipe-1{
		display: inline-block;
		position: fixed;
		/*right: -190px;*/
		right: 0px;
		transform: translate(190px, 0px);
		top: 480px;
		transition: .3s;
		overflow: hidden;
		z-index: 1000;
	}
	.fale-equipe-1:hover{
		/*right: 20px;*/
		transform: translate(-20px, 0px);
	}
	.fale-equipe-1 a.media{
		border-radius: 8px;
		padding: 15px 20px;
	}
	.fale-equipe-1 a.media img{
		margin-right: 15px;
		margin-top: 8px;
	}
	.fale-equipe-1 a.media p{
		color: white;
		margin-bottom: 0;
	}
	.fale-equipe-1 a.media p.descricao{
		font-size: 14px;
	}
	.fale-equipe-1 a.media p.telefone{
		font-size: 20px;
	}
	.fale-equipe-1:hover{
		box-shadow: 0 .5rem 2rem rgba(0,0,0,.10)!important;
		transition: .3s;
	}


/* --- footer --- */
	footer{
		background-color: #F4F4F4;
		position: relative;
		overflow: hidden;
	}
	footer img.img-fazenda{
		position: relative;
		opacity: .2;
		margin-left: auto;
		margin-right: -50px;
		display: block;
		margin-top: -120px;
		margin-bottom: -105px;
	}

/* --- footer contato --- */
	footer #contatos{
		padding-top: 42px;
		padding-bottom: 42px;
	}
	footer #contatos .box{
		border: 1px solid var(--new-green);
		border-radius: 8px;
		padding: 12px 22px 12px;
		color: white;
		margin-left: 15px;
		margin-right: 15px;
	}
	footer #contatos img{
		margin-right: 22px;
		margin-top: 8px;
	}
	footer #contatos p.font-light{
		font-size: 14px;
		margin-bottom: 0px;
	}
	footer #contatos p.font-bold{
		font-size: 20px;
		margin-bottom: 0;
	}

/* --- footer logo --- */
	footer #logo{
		background: url(../imagens/bg/bg-borda.png)no-repeat 53% bottom;
		height: 225px;
	}
	footer #logo .logo{
		margin-top: 45px;
		margin-bottom: 20px;
	}
	footer #logo div a{
		margin-left: 3px;
		margin-right: 3px;
		transition: .3s;
	}
	footer #logo div a:hover{
		transform: translate(0, -5px);
		transition: .3s;
	}

/* --- footer menu --- */
	footer #menu.d-flex{
		margin-bottom: 30px;
	}
	footer #menu a.nav-link{
	    padding: 0px!important;
		text-align: center;
		font-size: 15px;
		color: var(--new-gray-dark);
		margin-left: 15px;
		margin-right: 15px;
	}
	footer #menu a.nav-link::after{
		content: '●';
		color: transparent;
		display: block;
		line-height: 20px;
	}
	footer #menu a.nav-link.active::after,
	footer #menu a.nav-link:hover::after{
		color: var(--new-green);
	}

/* --- footer copyright --- */
	footer #copyright{
		position: relative;
		z-index: 2;
		height: 77px;
		padding-top: 25px;
	}
	footer #copyright .container{
		max-width: 862px!important;
		margin-left: auto;
		margin-right: auto;
	}
	footer #copyright p.font-light{
		font-size: 16px;
		color: white;
	}
	footer #copyright img{
		margin-left: 10px;
	}


@media screen and (max-width: 1660px) {
	/* --- fale-equipe --- */
		.fale-equipe-1{
			top: 380px;
		}

@media screen and (max-width: 1440px) {
	/* --- fale-equipe --- */
		.fale-equipe-1{
			top: 360px;
		}

	/* --- footer --- */
		footer img.img-fazenda{
			margin-right: -300px;
		}

	/* --- footer logo --- */
		footer #logo{
			background: url(../imagens/bg/bg-borda.png)no-repeat 55% bottom;
			height: 225px;
		}
}

@media screen and (max-width: 1200px) {
	/* --- header navegacao --- */
		header .navegacao{
			margin-top: 25px;
			margin-bottom: 25px;
		}
		header .navbar-nav{
			/*margin-top: 10px;*/
		}
		header .navbar-nav li a{
			/*font-size: 18px;*/
			margin-left: 9px;
			margin-right: 9px;
		}
		header .navbar-nav li.active a::after,
		header .navbar-nav li a:hover::after{
			/*color: var(--new-green);*/
		}

	/* --- fale-equipe --- */
		.fale-equipe-1{
			top: 220px;
		}

	/* --- footer --- */
		footer img.img-fazenda{
			display: none;
		}

	/* --- footer contato --- */
		footer #contatos{
			padding-top: 40px;
			padding-bottom: 40px;
		}
		footer #contatos .box{
			margin-bottom: 15px;
		}
}

@media screen and (max-width: 992px) {
	/* --- header navegacao --- */
		header .navegacao{
			margin-top: 20px;
			margin-bottom: 20px;
		}
		header .navbar-collapse{
			position: absolute;
			z-index: 99;
			background-color: var(--new-green);
			width: 100%;
			top: 90px;
			padding-top: 20px;
			padding-bottom: 30px;
		}
		header .navbar-nav{
			/*margin-top: 10px;*/
		}
		header .navbar-nav li a{
			/*font-size: 18px;*/
			margin-left: 9px;
			margin-right: 9px;
			color: white;
		}
		header .navbar-nav li.active a::after,
		header .navbar-nav li a:hover::after{
			color: white;
		}

		.fale-equipe-2{
			max-width: 260px;
			margin-left: auto;
			margin-right: auto;
			text-align: left;
		}
		.fale-equipe-2 a.media{
			border-radius: 8px;
			padding: 15px 0px 15px 15px;
		}
		.fale-equipe-2 a.media img{
			margin-right: 10px;
			margin-top: 8px;
		}
		.fale-equipe-2 a.media p{
			color: white;
			margin-bottom: 0;
		}
		.fale-equipe-2 a.media p.descricao{
			font-size: 14px;
		}
		.fale-equipe-2 a.media p.telefone{
			font-size: 20px;
		}
		.fale-equipe-2 a.media:hover{
			box-shadow: 0 .5rem 2rem rgba(0,0,0,.10)!important;
			transition: .3s;
		}
		.fale-equipe-2 a:hover::after{
			display: none;
		}

		header .navbar-collapse li a img.icon-fechar{
			position: absolute;
			bottom: -40px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}

	/* --- footer logo --- */
		footer #logo{
			background: url(../imagens/bg/bg-borda.png)no-repeat 32% bottom;
		}
}

@media screen and (max-width: 480px) {
	/* --- header top --- */
		header #top .border-green{
			display: none;
		}
		header #top .container{
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			height: 60px;
			padding-top: 15px;
			padding-left: 5px;
			padding-right: 5px;
		}
		header #top .container .row{
			margin-left: auto;
			margin-right: auto;
		}
		header #top a{
			margin-left: 2px;
			margin-right: 2px;
		}
		header #top .text-left a{
			margin-left: 4px;
			margin-right: 4px;
		}
		header #top p{
			font-size: 13px;
		}

	/* --- header navegacao --- */
		header .navbar-collapse{
			top: 90px;
			padding-bottom: 80px;
		}
		header .navbar-nav li a{
			font-size: 22px;
			margin-left: initial;
			margin-right: initial;
		}
		header .navbar-collapse li a img.icon-fechar{
			bottom: -40px;
		}

	/* --- fale-equipe --- */
		.fale-equipe-1{
			top: 320px;
		}
		.fale-equipe-1{
			transform: translate(150px, 0px);
		}
		.fale-equipe-1:hover{
			transform: translate(-10px, 0px);
		}
		.fale-equipe-1 a.media{
			padding: 5px 10px;
		}
		.fale-equipe-1 a.media img{
			margin-top: 5px;
		}
		.fale-equipe-1 a.media p.descricao{
			font-size: 12px;
		}
		.fale-equipe-1 a.media p.telefone{
			font-size: 16px;
		}

	/* --- footer contato --- */
		footer #contatos{
			padding-top: 42px;
			padding-bottom: 42px;
		}
		footer #contatos .box{
			padding: 12px 18px 12px;
			margin-left: initial;
			margin-right: initial;
			margin-bottom: 20px;
		}
		footer #contatos img{
			margin-right: 18px;
		}
		footer #contatos p.font-light{
			font-size: 13px;
		}
		footer #contatos p.font-bold{
			font-size: 19px;
		}

	/* --- footer logo --- */
		footer #logo{
			background: url(../imagens/bg/bg-borda.png)no-repeat 43% bottom;
		}

	/* --- footer menu --- */
		footer #menu a.nav-link{
			width: 100%;
			margin-left: initial;
			margin-right: initial;
		}
	
	/* --- footer copyright --- */
		footer #copyright{
			height: auto;
		}
}

@media screen and (max-width: 400px) {
	/* --- footer logo --- */
		footer #logo{
			background: url(../imagens/bg/bg-borda.png)no-repeat 45% bottom;
		}
}

@media screen and (max-width: 375px) {
	/* --- header top --- */
		header #top .container{
			padding-left: 0px;
			padding-right: 0px;
		}
		header #top .container .text-left,
		header #top .container .text-right{
			padding-left: 5px;
			padding-right: 5px;
		}
		header #top .container .text-right{
			text-align: center!important;
		}
		header #top a{
			margin-left: 1px;
			margin-right: 1px;
			max-width: 22px;
		}
		header #top .text-left a{
			margin-left: 3px;
			margin-right: 3px;
		}

	/* --- footer contato --- */
		footer #contatos{
			padding-top: 38px;
			padding-bottom: 38px;
		}
		footer #contatos .box{
			padding: 12px 12px 12px;
		}
		footer #contatos img{
			margin-right: 15px;
			margin-top: 2px;
		}
		footer #contatos p.font-light{
			font-size: 12px;
		}
		footer #contatos p.font-bold{
			font-size: 15px;
		}
}

