/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- carousel --- */
	#carousel{
		margin-bottom: 50px;
	}
	#carousel .carousel-control-next,
	#carousel .carousel-control-prev{
		opacity: 1;
	}
	#carousel .carousel-item{
		/*background: url('../imagens/banners/banner-home-desktop.png')no-repeat center center;*/
	    /*background-size: cover;*/
		/*height: 612px;*/
	}
	#carousel .carousel-item picture{
		position: relative;
    	left: -7%;
	}
	#carousel .carousel-item .ml-auto{
		margin-right: -150px;
	}
	#carousel .carousel-item h1{
		font-size: 43px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	#carousel .carousel-item p{
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 0;
	}

/* --- carousel indicators --- */
	#carousel .carousel-indicators {
	    left: 200px;
	    right: initial;
	    bottom: -5px;
	}
	#carousel .carousel-indicators li{
		margin-left: 5px;
		margin-right: 5px;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background-color: var(--new-gray);
		transition: .3s;
	}
	#carousel .carousel-indicators li.active{
		margin-top: 5px;
		width: 9px;
		height: 9px;
		background-color: var(--new-gray);
		transition: .3s;
	}

/* --- carousel arrows --- */
	#carousel .carousel-control-next,
	#carousel .carousel-control-prev{
		top: initial;
	}
	#carousel .carousel-control-prev{
	    left: 315px;
	}
	#carousel .carousel-control-next{
		left: 445px;
	}

/* --- certificacoes ---*/
	#certificacoes{
		position: relative;
	}
	#certificacoes .new-border{
		border: 1px solid var(--new-green);
		border-radius: 28px;
		max-width: 1145px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	#certificacoes h2{
		font-size: 43px;
		margin-top: 20px;
	}
	#certificacoes .btn-slick-carousel-left,
	#certificacoes .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: 35%;
		cursor: pointer;
		max-width: 31px;
	}
	#certificacoes .btn-slick-carousel-left{
		left: 102%;
	}
	#certificacoes .btn-slick-carousel-right{
		right: -12%;
	}
	#certificacoes .slide{
		margin-left: 18px;
		margin-right: 18px;
	}
	#certificacoes img.img-fluid{
		height: 92px;
		max-width: initial;
		width: initial;
		display: block;
		margin: auto;
	}

/* --- img-folha --- */
	.img-folha{
		position: relative;
		overflow: hidden;
		margin-top: -20px;
		margin-bottom: -450px;
	}
	.img-folha img{
		position: relative;
		display: block;
		margin-left: -60px;
	}

/* --- triunfo ---*/
	#triunfo{
		margin-top: 100px;
		margin-bottom: 50px;
		position: relative;
	}
	#triunfo .video img.img-bolinha{
		position: absolute;
		left: 180px;
	}
	#triunfo .video img.img-onda-1{
		display: block;
		margin-left: auto;
		margin-top: 20px;
		margin-right: 35px;
	}
	#triunfo .video img.img-onda-2{
		margin-top: 5px;
	}
	#triunfo .video iframe{
		max-width: 474px;
		width: 100%;
		height: 343px;
		border-radius: 20px;
		margin-top: 20px;
		position: relative;
		z-index: 2;
		box-shadow: 0 .5rem 3rem rgba(0,0,0,.20)!important;
	}
	#triunfo h2{
		font-size: 43px;
		margin-top: 50px;
	}
	#triunfo p{
		font-size: 18px;
	}
	#triunfo a.btn{
		width: 138px;
		height: 51px;
		font-size: 18px;
		padding-top: 10px;
		margin-top: 20px;
	}
	#triunfo .text-right img{
		margin-top: -70px;
		margin-right: 50px;
	}

/* --- img-cafe-folha --- */
	.img-cafe-folha{
		position: relative;
		overflow: hidden;
		margin-top: -400px;
		margin-bottom: -150px;
		z-index: -1;
	}
	.img-cafe-folha img{
		position: relative;
		margin-left: auto;
		display: block;
		margin-right: -200px;
	}

/* --- produtos ---*/
	#produtos{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	#produtos h2{
		font-size: 43px;
	}
	#produtos p.font-light{
		font-size: 16px;
	}
	#produtos .d-flex{
		margin-top: 50px;
		padding-bottom: 100px;
	}
	#produtos .d-flex .box{
		margin-left: 5px;
		margin-right: 5px;
		border: 1px solid #CFCFCF;
		border-radius: 15px;
		position: relative;
		padding-bottom: 70px;
		transition: .3s;
	}
	#produtos .d-flex .box img{
		border-radius: 10px;
	}

	#produtos .d-flex .imagem{
		position: relative;
	}
	#produtos .d-flex .imagem .wrapper div{
		background: rgba(0, 0, 0, 0.6);
		width: 100%;
		height: 100%;
		transition: .5s;
		border-radius: 10px;
	    
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
		opacity: 0;
	}
	#produtos .d-flex .imagem .thumb-info{
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		opacity: 0;
		transition: .5s;
	}
	#produtos .d-flex .imagem .thumb-info img{
		max-width: 50px;
	}
	#produtos .d-flex .imagem .wrapper:hover div,
	#produtos .d-flex .imagem:hover .thumb-info{
		opacity: 1;	
	}


	#produtos .d-flex .box h3.text-green{
		font-size: 22px;
		margin-top: 25px;
		margin-bottom: 0px;
	}
	#produtos .d-flex .box .icon-acesso{
		background-color: var(--new-green);
		margin-top: 25px;
		position: absolute;
		width: 72px;
		height: 72px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		border-radius: 50%;
		border: 5px solid white;
		margin-top: 35px;
	}
	#produtos .d-flex .box .icon-acesso img{
		margin-top: 20px;
	}
	#produtos .d-flex .efeito:hover .box{
		transform: translate(0, 50px);
		background-color: var(--new-green-2);
		border-bottom: 5px solid var(--new-gray);
		padding-bottom: 60px;
		transition: .3s;
	}
	#produtos .d-flex .box:hover h3{
		color: white;
		transition: .3s;
	}
	#produtos .d-flex .box:hover .icon-acesso{
		background-color: var(--new-gray);
		transition: .3s;
	}

/* --- exporta ---*/
	#exporta{
		margin-top: 50px;
		/*margin-bottom: 50px;*/
		padding-bottom: 150px;

		position: relative;
		z-index: 1;
	}
	#exporta .container{
		background: url(../imagens/bg/bg-exporta.png)no-repeat center center;
		background-size: cover;
		height: 630px;
	}
	#exporta .container h2{
		font-size: 43px;
		padding-top: 115px;
		margin-bottom: 12px;
	}
	#exporta .container p{
		font-size: 30px;
	}
	#exporta .container a.btn{
		margin-top: 15px;
		width: 159px;
		height: 55px;
		padding-top: 12px;
		font-size: 19px;
	}
	#exporta .container img{
		margin-top: 20px;
	}

/* --- blog ---*/
	#blog{
		margin-top: -350px;
		padding-top: 350px;
		/*margin-bottom: 50px;*/
		/*padding-bottom: 150px;*/
		background: url(../imagens/bg/bg-blog.png)no-repeat center center;
		background-size: cover;
		height: 1144px;
	}
	#blog h2{
		font-size: 43px;
	}
	#blog .d-flex{
		margin-top: 80px;
		padding-top: 50px;
	}
	#blog .d-flex .box{
		max-width: 328px;
		width: 100%;
		background-color: white;
		border-radius: 10px;
		transition: .3s;
	}
	#blog .d-flex img{
		border-radius: 10px;	
	}
	#blog .d-flex .text-right{
		background-color: var(--new-green);
		display: inline-block;
		position: relative;
		top: -40px;
		float: right;
		margin-right: 42px;

		border-radius: 50%;
		width: 80px;
		height: 80px;
		border: 8px solid white;
		margin-bottom: -100px;
	}
	#blog .d-flex .text-right p.font-bold{
		text-align: center;
		font-size: 26px;
		margin-bottom: 0;
		line-height: 15px;
		margin-top: 14px;
	}
	#blog .d-flex .text-right p.text-uppercase{
		text-align: center;
		font-size: 18px;
		color: white;
	}
	#blog .d-flex .conteudo{
		margin-top: 30px;
		padding-left: 25px;
		padding-right: 25px;
		position: relative;
		padding-bottom: 30px;
	}
	#blog .d-flex .conteudo .media img{
		margin-right: 10px;
	}
	#blog .d-flex .conteudo .media p.font-light{
		font-size: 10px;
		line-height: 13px;
	}
	#blog .d-flex .conteudo p.font-bold{
		font-size: 17px;
		line-height: 22px;
	}
	#blog .d-flex .conteudo p.font-light{
		font-size: 17px;
		line-height: 22px;
		max-height: 70px; 
		overflow: auto;
		padding-right: 5px;
	}
	#blog .d-flex .conteudo p.font-light::-webkit-scrollbar {
	 	width: 5px;
	  	border-radius: 10px;
	}
	#blog .d-flex .conteudo p.font-light::-webkit-scrollbar-track-piece {
	  	background-color: white;
	}
	#blog .d-flex .conteudo p.font-light::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-green);
	}
	#blog .d-flex .conteudo .text-center a.btn{
		width: 163px;
		height: 55px;
		font-size: 19px;
		padding-top: 12px;
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		background: white;
	}
	#blog .d-flex .conteudo .text-center a.btn:hover{
		background-color: var(--new-green);
	}
	#blog .d-flex .box:hover{
		transform: translate(0, -50px);
		box-shadow: 0 .5rem 2rem rgba(0,0,0,.10)!important;
		transition: .3s;
	}

@media screen and (min-width: 1921px) {
	/* --- carousel --- */
		#carousel .carousel-item picture{
			position: relative;
			left: 160px;
		}
}

@media screen and (max-width: 1660px) {
	/* --- carousel --- */
		#carousel .carousel-item picture{
			position: relative;
			left: -15%;
		}

		#carousel .carousel-item .ml-auto{
			margin-right: -140px;
		}

	/* --- carousel indicators --- */
		#carousel .carousel-indicators {
		    left: 105px;
		    /*bottom: -5px;*/
		}

	/* --- carousel arrows --- */
		#carousel .carousel-control-prev{
		    left: 200px;
		}
		#carousel .carousel-control-next{
			left: 330px;
		}

	/* --- img-folha --- */
		.img-folha img{
			margin-left: -200px;
		}

	/* --- img-cafe-folha --- */
		.img-cafe-folha img{
			margin-right: -300px;
		}
}

@media screen and (max-width: 1440px) {
	/* --- carousel --- */
		#carousel .carousel-item{
			/*background: url('../imagens/banners/banner-home-desktop.png')no-repeat 55% center;*/
		    /*background-size: cover;*/
			/*height: 548px;*/
		}

		#carousel .carousel-item picture{
			position: relative;
			left: -35%;
		}

		#carousel .carousel-item .ml-auto{
			margin-right: -50px;
		}

	/* --- carousel indicators --- */
		#carousel .carousel-indicators {
		    left: 28px;
		    /*bottom: -5px;*/
		}

	/* --- carousel arrows --- */
		#carousel .carousel-control-prev{
		    left: 100px;
		}
		#carousel .carousel-control-next{
			left: 230px;
		}

	/* --- img-folha --- */
		.img-folha img{
			margin-left: -350px;
		}

	/* --- img-cafe-folha --- */
		.img-cafe-folha img{
			margin-right: -430px;
		}
}

@media screen and (max-width: 1200px) {
	/* --- carousel --- */
		#carousel .carousel-item{
			/*background: url('../imagens/banners/banner-home-desktop.png')no-repeat 54% center;*/
		    /*background-size: cover;*/
		}

		#carousel .carousel-item picture{
			position: relative;
			left: -63%;
		}

	/* --- carousel indicators --- */
		#carousel .carousel-indicators {
		    left: -50px;
		}

	/* --- carousel arrows --- */
		#carousel .carousel-control-prev{
		    left: 0px;
		}
		#carousel .carousel-control-next{
			left: 130px;
		}	

	/* --- certificacoes ---*/
		#certificacoes{
			padding-left: 15px;
		}
		#certificacoes .new-border{
			border-radius: 0px;
			border-top-left-radius: 28px;
			border-bottom-left-radius: 28px;
			padding-top: 25px;
			padding-bottom: 25px;
		}
		#certificacoes h2{
			font-size: 40px;
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: 35%;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 110%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: -25%;
		}
		#certificacoes .slide{
			margin-left: 14px;
			margin-right: 14px;
		}

	/* --- img-folha --- */
		.img-folha{
			display: none;
		}

	/* --- img-cafe-folha --- */
		.img-cafe-folha{
			display: none;
		}

	/* --- produtos ---*/
		#produtos .d-flex{
			margin-top: 40px;
			padding-bottom: 100px;
		}
		#produtos .d-flex .box{
			margin-bottom: 90px;
		}
		#produtos .d-flex .box:hover{
			transform: translate(0, 40px);
		}
}

@media screen and (max-width: 992px) {
	/* --- carousel --- */
		#carousel .carousel-item{
			/*background: url('../imagens/banners/banner-home-desktop.png')no-repeat center center;*/
		    /*background-size: cover;*/
			/*height: 548px;*/
		}

		#carousel .carousel-item picture{
			position: relative;
			left: -96%;
		}

		#carousel .carousel-item .ml-auto{
			margin-right: 0px;
		}
		#carousel .carousel-caption {
		    right: 5%;
		    left: 5%;
		}
		#carousel .carousel-item h1{
			margin-top: 150px;
			font-size: 35px;
			margin-bottom: 20px;
		}
		#carousel .carousel-item p{
			font-size: 18px;
			line-height: initial;
		}

	/* --- carousel indicators --- */
		#carousel .carousel-indicators {
		    left: 30.5%;
		}

	/* --- carousel arrows --- */
		#carousel .carousel-control-prev{
		    left: 33%;
		}
		#carousel .carousel-control-next{
			left: initial;
			right: 33%;
		}

	/* --- certificacoes ---*/
		#certificacoes .new-border{
			border-right: 0;
			padding-top: 25px;
			padding-bottom: 25px;
		}
		#certificacoes h2{
			font-size: 40px;
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: initial;
			bottom: -70px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 80%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}

	/* --- triunfo ---*/
		#triunfo .video img.img-bolinha{
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}
		#triunfo .video iframe{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		#triunfo h2{
			margin-top: 50px;
		}

	/* --- produtos ---*/
		#produtos{
			margin-bottom: 50px;
		}
		#produtos .d-flex{
			margin-top: 40px;
			padding-bottom: 0px;
		}
		#produtos .d-flex .box{
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 90px;
		}
		#produtos .d-flex .box:hover{
			transform: translate(0, 40px);
		}

	/* --- blog ---*/
		#blog{
			padding-bottom: 100px;
			height: auto;
		}
		#blog .d-flex{
			margin-top: 30px;
		}
		#blog .d-flex .box{
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 70px;
		}
		#blog .d-flex .conteudo .media img{
			margin-right: 8px;
		}
		#blog .d-flex .box:hover{
			transform: translate(0, -30px);
		}
}

@media screen and (max-width: 480px) {
	/* --- carousel --- */
		#carousel .carousel-item{
			/*background: url('../imagens/banners/banner-home-mobile.png')no-repeat center center;*/
		    /*background-size: cover;*/
			height: 625px;
		}
		#carousel .carousel-item picture{
			position: relative;
			left: -8%;
		}

		#carousel .carousel-item .ml-auto{
			margin-right: 0px;
		}
		#carousel .carousel-caption {
		    right: 5%;
		    left: 5%;
		}
		#carousel .carousel-item h1{
			margin-top: 50px;
			font-size: 35px;
			margin-bottom: 10px;
		}
		#carousel .carousel-item p{
			font-size: 18px;
			line-height: initial;
		}

	/* --- carousel indicators --- */
		#carousel .carousel-indicators {
		    left: 26%;
		    bottom: -45px;
		}

	/* --- carousel arrows --- */
		#carousel .carousel-control-prev{
		    left: 26%;
		    bottom: -40px;
		}
		#carousel .carousel-control-next{
			left: initial;
			right: 26%;
			bottom: -40px;
		}

	/* --- certificacoes ---*/
		#certificacoes{
			margin-top: 100px;
		}
		#certificacoes .new-border{
			padding-top: 25px;
			padding-bottom: 25px;
		}
		#certificacoes h2{
			font-size: 30px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 50%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}
		#certificacoes .slide{
			margin-left: initial;
			margin-right: initial;
		}

	/* --- triunfo ---*/
		#triunfo .video img.img-onda-1{
			margin-right: 0px;
		}
		#triunfo .video img.img-onda-2{
			margin-top: 20px;
		}
		#triunfo .video iframe{
			height: 277px;
		}
		#triunfo h2{
			margin-top: 40px;
			/*font-size: 43px;*/
		}
		#triunfo p{
			/*font-size: 18px;*/
		}
		#triunfo .text-right img{
			margin-top: -60px;
			margin-right: 00px;
		}

	/* --- produtos ---*/
		#produtos{
			/*margin-top: 50px;*/
			margin-bottom: 50px;
		}
		#produtos h2{
			/*font-size: 43px;*/
		}
		#produtos p.font-light{
			/*font-size: 16px;*/
		}
		#produtos .d-flex{
			margin-top: 40px;
		}
		#produtos .d-flex .box{
			margin-left: initial;
			margin-right: initial;
			margin-bottom: 80px;
		}
		#produtos .d-flex .box:hover{
			transform: translate(0, 30px);
		}

	/* --- exporta ---*/
		#exporta{
			padding-bottom: 250px;
			overflow: hidden;
		}
		#exporta .container h2{
			font-size: 40px;
			padding-left: 20px;
			padding-right: 20px;
		}
		#exporta .container p{
			line-height: 32px;
		}
		#exporta .container img{
			margin-top: 100px;
			transform: scale(1.4);
		}

	/* --- blog ---*/
		#blog{
			padding-bottom: 50px;
		}
		#blog h2{
			font-size: 35px;
		}
		#blog .d-flex{
			margin-top: 10px;
		}
}

@media screen and (max-width: 400px) {
	/* --- carousel --- */
		#carousel .carousel-item picture{
			position: relative;
			left: -15%;
		}
		#carousel .carousel-item h1{
			margin-top: 40px;
			font-size: 32px;
			margin-bottom: 10px;
		}

	/* --- carousel indicators --- */
		#carousel .carousel-indicators {
		    left: 25%;
		}	
}

@media screen and (max-width: 375px) {
	/* --- carousel --- */
		#carousel .carousel-item picture{
			left: -25%;
		}
		#carousel .carousel-item h1{
			margin-top: 40px;
			font-size: 30px;
			margin-bottom: 5px;
		}

	/* --- carousel indicators --- */
		#carousel .carousel-indicators {
		    left: 25%;
		}

		#carousel .carousel-control-prev {
		    left: 22%;
		}
		#carousel .carousel-control-next {
		    right: 22%;
		}

	/* --- certificacoes ---*/
		#certificacoes .new-border{
			padding-top: 18px;
			padding-bottom: 18px;
		}
		#certificacoes h2{
			font-size: 24px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 38%;
		}
		#certificacoes img.img-fluid {
		    height: 80px;
		}

	/* --- triunfo ---*/
		#triunfo .text-right img {
		    max-width: 140px;
		}

	/* --- exporta --- */
		#exporta .container h2 {
		    font-size: 38px;
		}
		#exporta .container img {
		    margin-top: 60px;
		    transform: scale(1.3);
		}

	/* --- blog ---*/
		#blog .d-flex .box img.img-blog{
			max-width: 100%;
		}
}