/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url('../imagens/banners/banner-produtos-desktop.png')no-repeat center center;
	    /*background-size: cover;*/
		height: 424px;
	}
	#banner .ml-auto{
		margin-right: -20px;
	}
	#banner h1{
		margin-top: -20px;
		font-size: 43px;
		margin-bottom: 20px;
	}
	#banner p{
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 0;
	}

/* --- produtos --- */
	#produtos{
		margin-top: 100px;
	}
	#produtos .imagem{
		max-width: 253px;
		height: 204px;
		border-radius: 18px; 
		position: relative;
	}
	#produtos .col-lg-6{
		margin-bottom: 30px;
	}
	#produtos .box-1 .imagem{
		background: url(../imagens/produtos/produto-01.png)no-repeat center center;
		background-size: cover;
	}
	#produtos .box-2 .imagem{
		background: url(../imagens/produtos/produto-04.png)no-repeat center center;
		background-size: cover;
	}
	#produtos .box-3 .imagem{
		background: url(../imagens/produtos/produto-03.png)no-repeat center center;
		background-size: cover;
	}
	#produtos .box-4 .imagem{
		background: url(../imagens/produtos/produto-02.png)no-repeat center center;
		background-size: cover;
	}
	#produtos .imagem .icon-acesso{
		border: 1px solid red;
		position: absolute;
		right: -25px;
		top: 85px;

		background-color: var(--new-green);
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 5px solid white;
	}
	#produtos .imagem .icon-acesso img{
		max-width: 22px;
		margin-top: 12px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#produtos .descricao{
		padding-left: 32px;
		padding-right: 5px;
	}
	#produtos .descricao h2{
		font-size: 22px;
		margin-bottom: 10px;
	}
	#produtos .descricao p{
		font-size: 17px;
		line-height: 20px;
		margin-bottom: 0;
		height: 140px;
		overflow: auto;
		padding-right: 14px;
	}
	#produtos .descricao p::-webkit-scrollbar {
	 	width: 5px;
	  	border-radius: 10px;
	}
	#produtos .descricao p::-webkit-scrollbar-track-piece {
	  	background-color: white;
	}
	#produtos .descricao p::-webkit-scrollbar-thumb:vertical {
	  	background-color: var(--new-green);
	}
	#produtos .col-lg-6 .row{
		border: 1px solid transparent;
		border-radius: 18px; 
		transition: .3s;
	}
	#produtos .col-lg-6:hover .row{
		border-color: var(--new-green);
		transition: .3s;
	}
	#produtos .col-lg-6:hover .icon-acesso{
		background-color: var(--new-gray);
		transition: .3s;
	}

/* --- certificacoes ---*/
	#certificacoes{
		position: relative;
		margin-top: 120px;
		margin-bottom: 40px;
	}
	#certificacoes h2{
		font-size: 43px;
		margin-top: 20px;
	}
	#certificacoes .btn-slick-carousel-left,
	#certificacoes .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: 35%;
		cursor: pointer;
		max-width: 31px;
	}
	#certificacoes .btn-slick-carousel-left{
		left: 102%;
	}
	#certificacoes .btn-slick-carousel-right{
		right: -12%;
	}
	#certificacoes .slide{
		margin-left: 18px;
		margin-right: 18px;
	}
	#certificacoes img.img-fluid{
		height: 92px;
		max-width: initial;
		width: initial;
		display: block;
		margin: auto;
	}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	/* --- banner --- */
		#banner{
			background: url('../imagens/banners/banner-produtos-desktop.png')no-repeat 45% center;
			height: 424px;
		}
		#banner .ml-auto{
			margin-right: 30px;
		}

	/* --- certificacoes ---*/
		#certificacoes{
			padding-left: 15px;
		}
		#certificacoes h2{
			font-size: 40px;
			/*margin-top: 20px;*/
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: 35%;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 110%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: -25%;
		}
		#certificacoes .slide{
			margin-left: 14px;
			margin-right: 14px;
		}
		#certificacoes img.img-fluid{
			/*height: 92px;*/
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner{
			background: url('../imagens/banners/banner-produtos-desktop.png')no-repeat 41% center;
			height: 424px;
		}
		#banner .ml-auto{
			margin-right: 20px;
			padding-left: 65px!important;
		}
		#banner h1{
			margin-top: 140px;
			font-size: 40px;
			margin-bottom: 20px;
		}
		#banner p{
			font-size: 20px;
			line-height: 25px;
		}

	/* --- produtos --- */
		#produtos .imagem{
			max-width: 100%;
			height: 220px;
		}

	/* --- certificacoes ---*/
		#certificacoes {
		    margin-top: 80px;
		    margin-bottom: 90px;
		}
		#certificacoes h2{
			font-size: 40px;
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: initial;
			bottom: -60px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 80%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner {
			background: url('../imagens/banners/banner-produtos-mobile.png')no-repeat center center;
			height: 625px;
		}
		#banner .ml-auto{
			margin-right: 0px;
		    padding-left: 20px!important;
		    padding-right: 20px!important;
		}
		#banner h1{
			margin-top: 60px;
			font-size: 43px;
			margin-bottom: 20px;
		}
		#banner p{
			font-size: 18px;
			/*line-height: 20px;*/
			margin-bottom: 0;
		}

	/* --- produtos --- */
		#produtos{
			margin-top: 80px;
		}
		#produtos .imagem{
			max-width: 100%;
			height: 166px;
		}
		#produtos .col-lg-6{
			margin-bottom: 50px;
		}
		#produtos .imagem .icon-acesso{
			right: -24px;
			top: 60px;
		}
		#produtos .descricao{
			margin-top: 20px;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 10px;
		}
		#produtos .descricao p{
			font-size: 19px;
			line-height: initial;
			height: 105px;
			padding-right: 8px;
		}

	/* --- certificacoes ---*/
		#certificacoes{
			margin-top: 80px;
			margin-bottom: 100px;
		}
		#certificacoes h2{
			font-size: 30px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 50%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}
		#certificacoes .slide{
			margin-left: initial;
			margin-right: initial;
		}
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 375px) {
	/* --- produtos --- */
		#produtos .descricao p {
		    height: 145px;
		}

	/* --- certificacoes --- */
		#certificacoes h2{
			font-size: 24px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 38%;
		}
		#certificacoes img.img-fluid {
		    height: 80px;
		}
}

