/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url('../imagens/banners/banner-servicos-desktop.png')no-repeat center center;
	    background-size: cover;
		height: 452px;
	}
	#banner .ml-auto{
		padding-left: 70px!important;
	}
	#banner h1{
		margin-top: -20px;
		font-size: 43px;
		margin-bottom: 20px;
	}
	#banner p{
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 20px;
	}

/* --- apresenteacao --- */
	#apresenteacao .desc{
		height: 340px;
		padding-right: 5px;
		overflow: auto;
	}
	#apresenteacao p{
		font-size: 18px;
	}
	#apresenteacao a.btn{
		width: 259px;
		height: 51px;
		font-size: 18px;
		padding-top: 10px;
	}

/* --- nossos-produtos --- */
	#nossos-produtos .imagem-bg{
		background: url('../imagens/bg/bg-nossos-produtos.png')no-repeat center center;
	    background-size: cover;

		max-width: 1333px;
		width: 100%;
		height: 280px;
		border-radius: 50px;
		margin-left: auto;
		margin-right: auto;
	}
	#nossos-produtos .row{
		padding-top: 60px;
	}
	#nossos-produtos h2{
		font-size: 43px;
	}
	#nossos-produtos a.btn{
		width: 209px;
		height: 51px;
		font-size: 18px;
		padding-top: 10px;
		background-color: white;
	}
	#nossos-produtos a.btn:hover{
		background-color: var(--new-green);
	}
	#nossos-produtos a img{
		max-width: 191px;
		width: 100%;
		height: 153px;
		border: 1px solid var(--new-green);
		border-radius: 8px;
		margin-left: 5px;
		margin-right: 5px;
	}
	
/* --- saber mais --- */
	#saber-mais{
		background: url('../imagens/img-saber-mais.png')no-repeat right;
		background-size: contain;
		height: 582px;
		margin-top: 80px;
		margin-bottom: -80px;
	}
	#saber-mais .mr-auto{
		padding-right: 30px;
	}
	#saber-mais h2{
		font-size: 43px;
		margin-bottom: 30px;
	}
	#saber-mais input{
		height: 67px;
		border: 1px solid var(--new-green)!important;
		border-radius: 10px;
		font-size: 16px;
		padding-left: 20px;
		margin-bottom: 20px;
	}
	#saber-mais a.btn{
		width: 195px;
		height: 37px;
		font-size: 14px;
		border: 1px solid var(--new-gray);
		background-color: var(--new-gray);
		color: white;
		border-radius: 50px;
		padding-top: 8px;
	}
	#saber-mais a.btn:hover{
		background-color: transparent;
		color: var(--new-gray);
	}

/* --- certificacoes ---*/
	#certificacoes{
		position: relative;
		margin-top: 60px;
		margin-bottom: 40px;
	}
	#certificacoes h2{
		font-size: 43px;
		margin-top: 20px;
	}
	#certificacoes .btn-slick-carousel-left,
	#certificacoes .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: 35%;
		cursor: pointer;
		max-width: 31px;
	}
	#certificacoes .btn-slick-carousel-left{
		left: 102%;
	}
	#certificacoes .btn-slick-carousel-right{
		right: -12%;
	}
	#certificacoes .slide{
		margin-left: 18px;
		margin-right: 18px;
	}
	#certificacoes img.img-fluid{
		height: 92px;
		max-width: initial;
		width: initial;
		display: block;
		margin: auto;
	}

/* --- modal especialista ---*/
	#modal_adquirir .modal-dialog{
		max-width: 802px;
		width: 100%;
	}
	#modal_adquirir .modal-content{
		background-color: transparent;
		border: 0px;
	}
	#modal_adquirir .modal-body{
		padding: 0px!important;
	}
	#modal_adquirir .formulario{
		max-width: 427px;
		width: 100%;
		background-color: white;
		padding: 40px 60px;
		border-radius: 18px;
		float: left;
	}
	#modal_adquirir h2{
		font-size: 33px;
		/*line-height: 30px;*/
		margin-bottom: 25px;
	}
	#modal_adquirir input{
		height: 52px;
		border: 1px solid var(--new-green)!important;
		border-radius: 10px;
		font-size: 12px;
		padding-left: 20px;
		margin-bottom: 15px;
	}
	#modal_adquirir a.btn{
		width: 137px;
		height: 29px;
		font-size: 10px;
		border: 1px solid var(--new-gray);
		background-color: var(--new-gray);
		color: white;
		border-radius: 50px;
	}
	#modal_adquirir a.btn:hover{
		background-color: transparent;
		color: var(--new-gray);
	}
	#modal_adquirir .imagem{
		background: url(../imagens/bg/bg-formulario.png)no-repeat center center;
		background-size: cover;
		max-width: 460px;
		width: 100%;
		height: 459px;
		margin-left: auto;
		margin-top: 50px;
	}

@media screen and (max-width: 1660px) {
	/* --- saber mais --- */
		#saber-mais{
			background: url('../imagens/img-saber-mais.png')no-repeat 120%;
			height: 582px;
		}
}

@media screen and (max-width: 1440px) {
	/* --- saber mais --- */
		#saber-mais{
			background: url('../imagens/img-saber-mais.png')no-repeat 170%;
			height: 570px;
		}	
}

@media screen and (max-width: 1200px) {
	/* --- banner --- */
		#banner{
			background: url('../imagens/banners/banner-servicos-desktop.png')no-repeat 42% center;
			/*height: 401px;*/
		}
		#banner .ml-auto{
			margin-right: 20px;
		}

	/* --- nossos-produtos --- */
		#nossos-produtos{
			/*border: 1px solid red;*/

			/*padding-top: 50px;*/
			/*padding-bottom: 50px;*/
		}
		#nossos-produtos .imagem-bg{
			/*background: url('../imagens/bg/bg-nossos-produtos.png')no-repeat center center;*/
		    /*background-size: cover;*/

			/*height: 280px;*/
			border-radius: 0px;
		}
		#nossos-produtos .row{
			padding-top: 50px;
		}
		#nossos-produtos h2{
			font-size: 40px;
		}
		#nossos-produtos a.btn{
			/*width: 209px;*/
			/*height: 51px;*/
			/*font-size: 18px;*/
			/*padding-top: 10px;*/
		}
		#nossos-produtos a img{
			max-width: 175px;
			/*height: 153px;*/
			margin-left: 5px;
			margin-right: 5px;
		}

	/* --- saber mais --- */
		#saber-mais{
			background: url('../imagens/img-saber-mais.png')no-repeat 1000%;
		}

	/* --- certificacoes ---*/
		#certificacoes{
			padding-left: 15px;
		}
		#certificacoes h2{
			font-size: 40px;
			/*margin-top: 20px;*/
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: 35%;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 110%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: -25%;
		}
		#certificacoes .slide{
			margin-left: 14px;
			margin-right: 14px;
		}
		#certificacoes img.img-fluid{
			/*height: 92px;*/
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner{
			background: url('../imagens/banners/banner-servicos-desktop.png')no-repeat 41% center;
		}
		#banner h1{
			margin-top: 50px;
			font-size: 40px;
			margin-bottom: 20px;
		}
		#banner p{
			font-size: 20px;
			line-height: 25px;
		}

	/* --- apresenteacao --- */
		#apresenteacao{
			padding-top: 30px;
		}
		#apresenteacao p{
			font-size: 18px;
		}
		#apresenteacao img{
			margin-top: 20px
		}

	/* --- nossos-produtos --- */
		#nossos-produtos .imagem-bg{
			background: url('../imagens/bg/bg-nossos-produtos-mobile.png')no-repeat center center;
		    background-size: cover;
			height: auto;
			text-align: center;
		}
		#nossos-produtos .row{
			padding-top: 50px;
		}
		#nossos-produtos h2{
			font-size: 40px;
		}
		#nossos-produtos a.btn{
			margin-bottom: 30px
		}
		#nossos-produtos a img{
			max-width: 190px;
			height: 180px;
			object-fit: cover;
			margin-left: 5px;
			margin-right: 5px;
		}
		#nossos-produtos .d-flex{
			margin-bottom: 30px
		}

	/* --- saber mais --- */
		#saber-mais{
			background: none;
			background-size: cover;
			height: auto;
		}

	/* --- certificacoes ---*/
		#certificacoes {
		    margin-top: 80px;
		    margin-bottom: 90px;
		}
		#certificacoes h2{
			font-size: 40px;
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: initial;
			bottom: -60px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 80%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}

	/* --- modal especialista ---*/
		#modal_adquirir .modal-dialog{
			padding-left: 20px;
			padding-right: 10px;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner {
			background: url('../imagens/banners/banner-servicos-mobile.png')no-repeat center bottom;
			height: 670px;
		}
		#banner .ml-auto{
			margin-right: 0px;
			padding-left: 10px!important;
			padding-right: 10px;
		}
		#banner h1{
			margin-top: 60px;
			font-size: 43px;
			margin-bottom: 30px;
		}
		#banner p{
			font-size: 18px;
			margin-bottom: 30px;
		}

	/* --- apresenteacao --- */
		#apresenteacao{
			padding-top: 50px;
			padding-bottom: 40px;
		}
		#apresenteacao .desc{
			height: 360px;
		}
		#apresenteacao p{
			font-size: 18px;
		}
		#apresenteacao img{
			margin-top: 30px
		}

	/* --- nossos-produtos --- */
		#nossos-produtos .row{
			padding-top: 50px;
		}
		#nossos-produtos h2{
			font-size: 37px;
			margin-bottom: 30px
		}
		#nossos-produtos a.btn{
			width: 182px;
			height: 45px;
			font-size: 15px;
			margin-bottom: 40px
		}
		#nossos-produtos a img{
			max-width: 285px;
			height: 228px;
			margin-left: 5px;
			margin-right: 5px;
			margin-bottom: 30px
		}
		#nossos-produtos .d-flex{
			margin-bottom: 50px
		}

	/* --- saber mais --- */
		#saber-mais{
			overflow: hidden;
		}
		#saber-mais .mr-auto{
			padding-right: initial;
		}
		#saber-mais h2{
			font-size: 42px;
			/*margin-bottom: 30px;*/
		}
		#saber-mais input{
			height: 66px;
			font-size: 15px;
		}
		#saber-mais a.btn{
			height: 36px;
		}
		#saber-mais img.img-fluid{
			margin-top: 80px;
			margin-bottom: 80px;
			transform: scale(1.3);
		}

	/* --- certificacoes ---*/
		#certificacoes{
			margin-top: 80px;
			margin-bottom: 100px;
		}
		#certificacoes h2{
			font-size: 30px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 50%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}
		#certificacoes .slide{
			margin-left: initial;
			margin-right: initial;
		}

	/* --- modal especialista ---*/
		#modal_adquirir .modal-dialog{
			padding-left: 5px;
			padding-right: 20px;
		}
		#modal_adquirir .formulario{
			padding: 30px 40px;
			float: none;
		}
		#modal_adquirir h2{
			font-size: 33px;
			line-height: 35px;
		}
		#modal_adquirir .imagem{
			display: none;
		}
}

@media screen and (max-width: 400px) {
	/* --- banner --- */
		#banner .ml-auto{
			margin-right: 0px;
		    padding-left: 5px!important;
		    padding-right: 5px!important;
		}
}

@media screen and (max-width: 375px) {
	/* --- banner --- */
		#banner h1{
			font-size: 38px;
		}

	/* --- apresenteacao --- */
		#apresenteacao .desc {
		    height: 430px;
		}

	/* --- certificacoes --- */
		#certificacoes h2{
			font-size: 24px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 38%;
		}
		#certificacoes img.img-fluid {
		    height: 80px;
		}
}

@media screen and (max-width: 350px) {
	/* --- apresenteacao --- */
		#apresenteacao .desc {
		    height: 450px;
		}
}