/*import*/
@import url("global.css");
@import url("header-footer.css");

/* --- banner --- */
	#banner{
		background: url('../imagens/banners/banner-sobre-desktop.png')no-repeat center center;
	    background-size: cover;
		height: 470px;
	}
	#banner .ml-auto{
		margin-right: -10px;
		padding-left: 50px!important;
	}
	#banner h1{
		margin-top: -70px;
		font-size: 43px;
		margin-bottom: 20px;
	}
	#banner p{
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 20px;
	}

/* --- triunfo --- */
	#triunfo{
		padding-top: 30px;
	}
	#triunfo .container{
		position: relative;
	}
	#triunfo .descricao{
		max-width: 630px;
		width: 100%;
		padding: 50px 70px 30px 60px;
		border-radius: 20px;
		background-color: white;

		position: absolute;
		top: 65px;
		right: 0;
		z-index: 1;
	}
	#triunfo .descricao h2{
		font-size: 43px;
		margin-bottom: 20px;
	}
	#triunfo .descricao p{
		font-size: 17px;
		line-height: 30px;
		height: 185px;
		overflow: auto;
		margin-bottom: 20px;
		padding-right: 5px;
	}
	#triunfo .descricao a.btn{
		width: 219px;
		height: 51px;
		font-size: 18px;
		padding-top: 10px;
	}
	#triunfo .imagem-1{
		border-radius: 20px;
		position: relative;
		left: 15px;
		width: 548px;
		height: 588px;
		object-fit: cover;
	}
	#triunfo .imagem-2{
		border-radius: 20px;
		position: absolute;
		left: 0;
		z-index: 1;
		top: 85px;
    	left: -110px;
	}

	#triunfo .contadores{
		background-color: white;
		max-width: 950px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 20px;
		padding: 70px 10px 40px 10px;

		position: relative;
		margin-top: -140px;
	}
	#triunfo .contadores p.font-extra-bold{
		font-size: 43px;
		margin-bottom: 0px;
	}
	#triunfo .contadores p.font-light{
		font-size: 22px;
		margin-bottom: 25px;
	}

/* --- video --- */
	#video{
		margin-top: 20px;
		margin-bottom: 70px;
	}
	#video iframe{
		max-width: 952px;
		width: 100%;
		height: 475px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 22px;
	}

/* --- certificacoes ---*/
	#certificacoes{
		position: relative;
	}
	#certificacoes .new-border{
		border-top: 1px solid var(--new-green);
		border-left: 1px solid var(--new-green);
		border-bottom: 1px solid var(--new-green);
		border-radius: 28px 0px 0 28px;
		max-width: 1550px;
		width: 100%;
		margin-left: auto;
		margin-right: 0;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	#certificacoes .container{
		position: relative;
		left: -200px;
	}
	#certificacoes h2{
		font-size: 43px;
		margin-top: 20px;
	}
	#certificacoes .btn-slick-carousel-left,
	#certificacoes .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: 35%;
		cursor: pointer;
		max-width: 31px;
	}
	#certificacoes .btn-slick-carousel-left{
		left: 102%;
	}
	#certificacoes .btn-slick-carousel-right{
		right: -12%;
	}

	#certificacoes .carousel-certificacoes{
		padding-left: 50px;
	}
	#certificacoes .slide{
		margin-left: 18px;
		margin-right: 18px;
	}
	#certificacoes img.img-fluid{
		height: 80px;
		max-width: initial;
		width: initial;
		display: block;
		margin: auto;
	}

/* --- nossos produtos --- */
	#nossos-produtos{
		margin-top: 40px;
		margin-bottom: 50px;
		padding-left: 180px!important;
		padding-right: 180px!important;
	}
	#nossos-produtos h2{
		font-size: 43px;
		margin-bottom: 60px;
	}
	#nossos-produtos a img.img-fluid{
		border-radius: 50%;
		width: 193px;
		height: 193px;
		object-fit: cover;
		margin-bottom: 28px;
		transition: .3s;
	}
	#nossos-produtos a p{
		font-size: 22px;
	}

	#nossos-produtos a .imagem .wrapper div{
		background: rgba(183, 201, 63, 0.8);
		width: 65%;
		height: 65%;
		transition: .5s;
		border-radius: 50%;
	    
	    position: absolute;
	    top: 12px;
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
		opacity: 0;
	}
	#nossos-produtos a .imagem .thumb-info{
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		width: 100px;
		transition: .5s;
	}
	#nossos-produtos a .imagem .thumb-info img{
		transform: scale(1.5);
	}
	#nossos-produtos a:hover .imagem .wrapper img.img-fluid{
		transition: .3s;
	}
	#nossos-produtos a .imagem .wrapper:hover div,
	#nossos-produtos a .imagem:hover .thumb-info{
		opacity: 1;	
	}

	#nossos-produtos .text-center a.btn{
		width: 217px;
		height: 52px;
		font-size: 18px;
		padding-top: 12px;
		margin-top: 30px;
	}

/* --- historia --- */
	#historia{
		background-color: #F4F0ED;
		padding-top: 110px;
	}
	#historia h2{
		font-size: 43px;
		margin-bottom: 50px;
	}
	#historia p.text-gray{
		font-size: 17px;
		line-height: 30px;
		margin-bottom: 0;
	}

	#historia .barra{
		width: 100%;
		height: 41px;
		background-color: var(--new-gray);
		position: relative;
		top: 105px;
	}
	#historia .barra-verde{
		width: 26%;
		height: 41px;
		background-color: var(--new-green);
		position: relative;
		top: 146px;
		z-index: 1;
	}
	#historia .slider-nav{
		max-width: 1080px;
		margin-left: auto;
		margin-right: auto;
		z-index: 2;
	}
	#historia .slick-track{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#historia .slider-nav .ano p{
		border: 10px solid var(--new-gray);
		width: 134px;
		height: 134px;
		border-radius: 50%;
		font-size: 34px;
		margin-bottom: 0;
		padding-top: 30px;
		text-align: center;
		font-family: "Averta-Extrabold";
		margin-left: auto;
		margin-right: auto;
		background-color: white;
		transition: .3s;
	}
	#historia .slider-nav .slick-current.slick-active .ano p{
		border: 16px solid var(--new-green);
		padding-top: 25px;
		transform: scale(1.28);
		transition: .3s;
	}
	#historia .slider-nav .slick-current.slick-active .ano{
		position: relative;
	}
	#historia .slider-nav .slick-current.slick-active .ano:after{
		content:url('../imagens/logos/icon-point.png');
		display: block;
		text-align: center;
		margin-top: 15px;
		transition: .3s;
	}

	#historia .btn-slick-carousel-left,
	#historia .btn-slick-carousel-right{
		position: absolute;
		z-index: 999;
		top: -18%;
		cursor: pointer;
		max-width: 31px;
	}
	#historia .btn-slick-carousel-left{
		left: 86.5%;
	}
	#historia .btn-slick-carousel-right{
		right: 6.5%;
	}

	#historia .carousel-fotos-descricao{
		background: url(../imagens/bg/bg-carousel-historia.png)no-repeat center top;
		background-size: cover;
		height: 526px;
		margin-top: -115px;
		padding-top: 105px;
	}
	#historia .carousel-fotos-descricao .row{
		max-width: 955px;
		width: 100%;
		margin-left: 420px;
		margin-right: auto;
	}
	#historia .carousel-fotos-descricao .row .text-left{
		padding-left: 40px;
	}
	#historia .carousel-fotos-descricao .row .text-left img{
		margin-bottom: 20px;
	}
	#historia .carousel-fotos-descricao .row .text-left p{
		font-size: 17px;
		height: 170px;
		overflow: auto;
		line-height: 28px;
	}

/* --- mercado --- */
	#mercado{
		background: url(../imagens/bg/bg-mercado.png)no-repeat center center;
		height: 583px;
		padding-top: 250px;
		margin-top: -25px;
	}
	#mercado p{
		font-size: 43px;
		margin-bottom: 0;
		display: table;
		padding-left: 480px;
		line-height: 58px;
	}
	#mercado p:nth-child(1),
	#mercado p:nth-child(2){
		background-color: #5E7557;
		padding-right: 16px;
	}
	#mercado p:nth-child(2){
		background-color: #5E7557;
		padding-right: 30px;
	}
	#mercado p:nth-child(3){
		background-color: #ABB813;
		padding-right: 20px;
	}
	#mercado a.btn{
		margin-top: 30px;
		margin-left: 480px;
		width: 226px;
		height: 51px;
		padding-top: 12px;
		font-size: 18px;
	}

/* --- galeria --- */
	#galeria{
		padding-top: 100px;
	}
	#galeria h2{
		font-size: 43px;
		margin-bottom: 80px;
	}
	#galeria .d-flex{
		padding-left: 40px;
		padding-right: 40px;
	}
	#galeria .d-flex img{
		border-radius: 35px;
		width: 296px;
		height: 296px;
		object-fit: cover;
		margin-bottom: 40px;
	}
	#galeria a.btn{
		width: 219px;
		height: 51px;
		font-size: 18px;
		padding-top: 10px;
		border: 1px solid var(--new-green);
		margin-top: 10px;
		margin-bottom: 50px;
	}
	#galeria a.btn:hover{
		background-color: var(--new-green);
		margin-top: 10px;
		margin-bottom: 50px;
	}

	#galeria .paginacao{
		padding-top: 20px;
		margin-bottom: -20px;
	}
	#galeria .paginacao a{
		width: 44px!important;
		height: 44px;
		border-radius: 50%;
		margin-left: 8px;
		margin-right: 8px;
		font-family: "Montserrat-Bold";
		font-size: 16px;
		color: white;
		background-color: #5E7557;
		border: none;
		transition: .3s;
	}
	#galeria .paginacao a:hover{
		background-color: #ABB813;
		transform: translate(0, -10px);
		transition: .3s;
	}

/* --- img-flores --- */
	.img-flores{
		position: absolute;
		overflow: hidden;
		right: 0;
		margin-top: -350px;
	}
	.img-flores img{
		position: relative;
		margin-right: -60px;
	}

/* --- img-triunfo-03 --- */
	.img-triunfo-03{
		position: absolute;
		overflow: hidden;
		margin-top: -100px;
	}
	.img-triunfo-03 img{
		position: relative;
		margin-left: -290px;
	}

/* --- img-flor --- */
	.img-flor{
		position: absolute;
		overflow: hidden;
		right: 0;
		margin-top: -700px;
	}
	.img-flor img{
		position: relative;
		margin-right: 80px;
	}

/* --- modal especialista ---*/
	#modal_adquirir .modal-dialog{
		max-width: 802px;
		width: 100%;
	}
	#modal_adquirir .modal-content{
		background-color: transparent;
		border: 0px;
	}
	#modal_adquirir .modal-body{
		padding: 0px!important;
	}
	#modal_adquirir .formulario{
		max-width: 427px;
		width: 100%;
		background-color: white;
		padding: 40px 60px;
		border-radius: 18px;
		float: left;
	}
	#modal_adquirir h2{
		font-size: 33px;
		/*line-height: 30px;*/
		margin-bottom: 25px;
	}
	#modal_adquirir input{
		height: 52px;
		border: 1px solid var(--new-green)!important;
		border-radius: 10px;
		font-size: 12px;
		padding-left: 20px;
		margin-bottom: 15px;
	}
	#modal_adquirir a.btn{
		width: 137px;
		height: 29px;
		font-size: 10px;
		border: 1px solid var(--new-gray);
		background-color: var(--new-gray);
		color: white;
		border-radius: 50px;
	}
	#modal_adquirir a.btn:hover{
		background-color: transparent;
		color: var(--new-gray);
	}
	#modal_adquirir .imagem{
		background: url(../imagens/bg/bg-formulario.png)no-repeat center center;
		background-size: cover;
		max-width: 460px;
		width: 100%;
		height: 459px;
		margin-left: auto;
		margin-top: 50px;
	}

@media screen and (max-width: 1660px) {
	/* --- certificacoes ---*/
		#certificacoes .new-border{
			max-width: 1400px;
		}
		#certificacoes .container{
			left: -130px;
		}

	/* --- historia --- */
		#historia .carousel-fotos-descricao .row{
			margin-left: 300px;
		}
	
	/* --- mercado --- */
		#mercado p{
			padding-left: 350px;
		}
		#mercado a.btn{
			margin-left: 350px;
		}

	/* --- img-flores --- */
		.img-flores img{
			margin-right: -200px;
		}

	/* --- img-triunfo-03 --- */
		.img-triunfo-03 img{
			margin-left: -450px;
		}

	/* --- img-flor --- */
		.img-flor img{
			margin-right: -20px;
		}
}

@media screen and (max-width: 1440px) {
	/* --- certificacoes ---*/
		#certificacoes .new-border{
			max-width: 1250px;
		}
		#certificacoes .container{
			left: -55px;
		}
		
	/* --- historia --- */
		#historia .barra-verde{
			width: 15%;
		}
		#historia .carousel-fotos-descricao .row{
			margin-left: 150px;
		}

	/* --- mercado --- */
		#mercado p{
			padding-left: 200px;
		}
		#mercado a.btn{
			margin-left: 200px;
		}

	/* --- img-flores --- */
		.img-flores img{
			margin-right: -340px;
		}

	/* --- img-triunfo-03 --- */
		.img-triunfo-03 img{
			margin-left: -550px;
		}

	/* --- img-flor --- */
		.img-flor img{
			margin-right: -200px;
		}
}

@media screen and (max-width: 1200px) {
	/* --- banner --- */
		#banner{
			background: url('../imagens/banners/banner-sobre-desktop.png')no-repeat 42% center;
		}
		#banner .ml-auto{
			margin-right: 30px;
			padding-left: 150px!important;
		}

	/* --- triunfo --- */
		#triunfo .imagem-2{
	    	left: -50px;
		}

	/* --- certificacoes ---*/
		#certificacoes{
			padding-left: 15px;
		}
		#certificacoes .new-border{
			padding-top: 25px;
			padding-bottom: 25px;
		}
		#certificacoes .container{
			left: 0px;
		}
		#certificacoes h2{
			font-size: 40px;
			/*margin-top: 20px;*/
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: 35%;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 105%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: -20%;
		}
		#certificacoes .slide{
			margin-left: 14px;
			margin-right: 14px;
		}
		#certificacoes img.img-fluid{
			/*height: 92px;*/
		}

	/* --- nossos produtos --- */
		#nossos-produtos{
			padding-left: inherit!important;
			padding-right: inherit!important;
		}

	/* --- historia --- */
		#historia .barra-verde{
			width: 10%;
		}
		#historia .carousel-fotos-descricao .row{
			margin-left: 0px;
		}

	/* --- mercado --- */
		#mercado p{
			padding-left: 50px;
		}
		#mercado a.btn{
			margin-left: 50px;
		}

	/* --- galeria --- */
		#galeria{
			padding-top: 50px;
		}
		#galeria h2{
			margin-bottom: 50px;
		}
		#galeria .d-flex{
			padding-left: 10px;
			padding-right: 10px;
		}

	/* --- img-flores --- */
		.img-flores img{
			display: none;
		}

	/* --- img-triunfo-03 --- */
		.img-triunfo-03 img{
			display: none;
		}

	/* --- img-flor --- */
		.img-flor img{
			display: none;
		}
}

@media screen and (max-width: 992px) {
	/* --- banner --- */
		#banner{
			background: url('../imagens/banners/banner-sobre-desktop.png')no-repeat 41% center;
		}
		#banner .ml-auto{
			margin-right: 20px;
			padding-left: 100px!important;
		}
		#banner h1{
			margin-top: 100px;
			font-size: 40px;
			margin-bottom: 20px;
		}
		#banner p{
			font-size: 20px;
		}

	/* --- triunfo --- */
		#triunfo .descricao{
			max-width: 100%;
			padding: 30px 20px 30px 20px;

			position: relative;
			top: 0px;
		}
		#triunfo .imagem-1{
			left: 0;
			display: block;
			margin-left: auto;
			width: 338px;
			height: 363px;
		}
		#triunfo .imagem-2{
			top: 420px;
	    	left: 320px;
	    	width: 177px;
	    	height: 143px;
		}

		#triunfo .contadores{
			max-width: 100%;
			margin-top: 0px;
		}
	
	/* --- video --- */
		#video{
			margin-top: 0px;
			margin-bottom: 70px;
		}
		#video iframe{
			height: 475px;
			border-radius: 0px;
		}

	/* --- certificacoes ---*/
		#certificacoes{
			margin-bottom: 100px;
		}
		#certificacoes .new-border{
			border-right: 0;
			padding-top: 25px;
			padding-bottom: 25px;
		}
		#certificacoes h2{
			font-size: 40px;
		}
		#certificacoes .btn-slick-carousel-left,
		#certificacoes .btn-slick-carousel-right{
			top: initial;
			bottom: -70px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 80%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}

	/* --- nossos-produtos --- */
		#nossos-produtos{
			background: initial;
			height: auto;
			margin-top: 0;
			padding-top: 0;
		}
		#nossos-produtos .box{
			margin-bottom: 40px;
		}
		#nossos-produtos a .imagem .wrapper div{
			width: 45%!important;
			height: 70%;
			
			width: 50%;
			height: 65%;
		    top: 15px;
		}

	/* --- historia --- */
		#historia{
			padding-top: 80px;
		}

		#historia .barra-verde{
			width: 10%;
		}
		#historia .btn-slick-carousel-left{
			left: 85%;
		}
		#historia .btn-slick-carousel-right{
			right: 5%;
		}

		#historia .carousel-fotos-descricao .row{
			margin-left: 0px;
		}
		#historia .carousel-fotos-descricao .row .text-left{
			padding-left: 10px;
		}
		#historia .carousel-fotos-descricao .row .text-left p{
			height: 225px;
			padding-right: 8px;
		}

	/* --- modal especialista ---*/
		#modal_adquirir .modal-dialog{
			padding-left: 20px;
			padding-right: 10px;
		}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
		#banner {
			background: url('../imagens/banners/banner-sobre-mobile.png')no-repeat 25% center;
			background-size: cover;
			height: 639px;
		}
		#banner .container{
			padding-left: 25px;
			padding-right: 25px;
		}
		#banner .ml-auto{
			margin-right: 0px!important;
			padding-left: initial!important;
		}
		#banner h1{
			margin-top: 50px;
			font-size: 43px;
			margin-bottom: 30px;
		}
		#banner p{
			font-size: 18px;
			margin-bottom: 30px;
		}

	/* --- triunfo --- */
		#triunfo .descricao{
			padding: 30px 10px 30px 10px;
			top: 0px;
		}
		#triunfo .descricao p{
			height: 250px;
		}
		#triunfo .imagem-2{
			top: 480px;
	    	left: -20px;
		}
		#triunfo .contadores{
			padding: 50px 5px 40px 5px;
			margin-top: 0px;
		}

	/* --- video --- */
		#video iframe{
			height: 300px;
		}

	/* --- certificacoes ---*/
		#certificacoes{
			margin-top: 0px;
		}
		#certificacoes .new-border{
			padding-top: 25px;
			padding-bottom: 25px;
		}
		#certificacoes h2{
			font-size: 30px;
			margin-top: 20px;
		}
		#certificacoes .carousel-certificacoes {
		    padding-left: inherit;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 50%;
		}
		#certificacoes .btn-slick-carousel-right{
			right: 4%;
		}
		#certificacoes .slide{
			margin-left: initial;
			margin-right: initial;
		}

	/* --- nossos produtos --- */
		#nossos-produtos{
			background: initial;
			height: auto;
			margin-top: 0;
			padding-top: 0;
			margin-bottom: 100px;
		}
		#nossos-produtos h2{
			font-size: 43px;
			margin-bottom: 70px;
		}
		#nossos-produtos a img.img-fluid{
			margin-bottom: 18px;
		}
		#nossos-produtos a .imagem .wrapper div{
		    top: 12px;
			height: 70%;
		}
		#nossos-produtos .text-center a.btn{
			margin-top: 0px;
		}

	/* --- historia --- */
		#historia{
			padding-top: 40px;
		}
		#historia h2{
			margin-bottom: 30px;
		}
		#historia .barra-verde{
			width: 20%;
		}
		#historia .btn-slick-carousel-left{
			left: 81%;
		}
		#historia .btn-slick-carousel-right{
			right: 2%;
		}

		#historia .carousel-fotos-descricao{
			background: #F4F0ED;
			height: auto;
			padding-bottom: 20px;
		}
		#historia .carousel-fotos-descricao .row{
			margin-left: 0px;
		}
		#historia .carousel-fotos-descricao .row .text-left{
			padding-left: 20px;
		}
		#historia .carousel-fotos-descricao .row .col-md-4 img{
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}
		#historia .carousel-fotos-descricao .row .text-left p{
			height: 225px;
			padding-right: 8px;
		}

	/* --- mercado --- */
		#mercado{
			background: url(../imagens/bg/bg-mercado-mobile.png)no-repeat center center;
			height: 1039px;
			padding-top: 510px;
			margin-top: 0px;
		}
		#mercado p{
			padding-left: 0px;
			text-align: center;
			width: 100%;
			line-height: 50px;
		}
		#mercado p:nth-child(1),
		#mercado p:nth-child(2){
			padding-right: 0px;
			padding-bottom: 10px;
		}
		#mercado p:nth-child(2){
			padding-right: 0px;
		}
		#mercado p:nth-child(3){
			padding-left: 40px;
			padding-right: 40px;
			padding-bottom: 10px;
		}
		#mercado a.btn{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

	/* --- modal especialista ---*/
		#modal_adquirir .modal-dialog{
			padding-left: 5px;
			padding-right: 20px;
		}
		#modal_adquirir .formulario{
			padding: 30px 40px;
			float: none;
		}
		#modal_adquirir h2{
			font-size: 33px;
			line-height: 35px;
		}
		#modal_adquirir .imagem{
			display: none;
		}
}

@media screen and (max-width: 400px) {
	/* --- banner --- */
		#banner .ml-auto{
			margin-right: 0px;
		    padding-left: 5px!important;
		    padding-right: 5px!important;
		}
		#banner h1{
			margin-top: 30px;
			font-size: 40px;
			margin-bottom: 25px;
		}

	/* --- nossos-produtos --- */
		#nossos-produtos a .imagem .wrapper div{
			width: 50%!important;
		}
}

@media screen and (max-width: 375px) {
	/* --- triunfo --- */
		#triunfo .imagem-1 {
		    max-width: 100%;
		}
		#triunfo .contadores p.font-extra-bold {
		    font-size: 32px;
		}
		#triunfo .contadores p.font-light {
		    font-size: 20px;
		}

	/* --- video --- */
		#video {
		    margin-left: 5px;
		    margin-right: 5px;
		}
		#video iframe {
		    height: 250px;
		}

	/* --- certificacoes ---*/
		#certificacoes .new-border{
			padding-top: 18px;
			padding-bottom: 18px;
		}
		#certificacoes h2{
			font-size: 24px;
			margin-top: 30px;
		}
		#certificacoes .btn-slick-carousel-left{
			left: 38%;
		}
		#certificacoes img.img-fluid {
		    height: 80px;
		}

	/* --- historia --- */
		#historia h2{
			font-size: 40px;
		}
		#historia .btn-slick-carousel-left{
			left: 77%;
		}

		#historia .slider-nav .ano p {
		    width: 125px;
		    height: 125px;
		    font-size: 30px;
		}
		#historia .slider-nav .slick-current.slick-active .ano p {
		    border: 15px solid var(--new-green);
		    transform: scale(1.25);
		}

	/* --- mercado --- */
		#mercado {
		    height: 800px;
		    padding-top: 350px;
		}
		#mercado p {
		    font-size: 38px;
		    line-height: 50px;
		}

	/* --- galeria --- */
		#galeria .d-flex img {
		    height: 250px;
}